[2021-02-10 16:21] pranjalshikhar opened #3 "Various Algorithms"
I can update -

1. Linear
2. Logistic
3. KNN
4. SVM
5. Decison Tree
6. Random Forest

[2021-02-17 09:36] codelight2711 opened #4 "Lets work"
Let me update few algorithms

[2021-02-21 22:37] arpitmaheshwari213 opened #5 "KNN, Linear and Logistic Regression"
Hi,
I can update KNN, Linear, and Logistic Regression.
Can you please assign it to me?
I am a participant in GSSOC-21.

[2021-02-23 04:46] rohansharma4050 commented on #3
Hello I am a GSSoC'21 participant I can work on various algorithms Linear, Logistic , Naive Bayes, Random Forest ,knn, kmeans. Can you assign this to me?

[2021-02-28 04:25] Amulya310 commented on #5
Hey, I would really like to work on this issue under GSSOC'21 .Kindly consider assigning this to me!!

[2021-02-28 04:25] Amulya310 commented on #3
Hey, I would really like to work on this issue under GSSOC'21 .Kindly consider assigning this to me!!

[2021-02-28 10:59] mehak2323 commented on #5
Hi, I would like to work on this issue. I'm a GSSOC 21 participant. It'd be great if you would assign it to me :)

[2021-03-01 11:35] RhuthuHegde commented on #5
Can I work on this issue, under gssoc'21?

[2021-03-02 18:37] sudipg4112001 opened #6 "K-Means, Regressions, Decision tree"
I would like to work on K-means, decision tree, linear regression, logistic regression, random forest. I am a participant of GSSOC'21.

[2021-03-03 13:01] akshitadixit opened #7 "SVM, Random Forest and XGBoost"
Hey I would like to work on these algorithms in python. Kindly assign.

[2021-03-04 04:48] Ankitasareen commented on #6
Hey can I work on this, under GSSOC'21?

[2021-03-04 06:47] khanfarhan10 opened #8 "C5.0 Decision Tree"
There is no implementation of the `C5.0 Decision Tree in Python` available anywhere on the internet.

Even `scikit-learn` has `C4.0` or `C4.5` or `CART` algorithm implemented under the hood.

So it would be great to have C5.0 Decision Tree implemented over the same.

(P.S. - It is not an easy task,)

[2021-03-04 10:22] RiaKokate commented on #5
Hey @arpitmaheshwari213
I hope you are fine and doing well.
I would like to work on this issue under GSSOC'21. Can you please assign the following to me?

[2021-03-05 10:32] psyduck1203 commented on #6
Hey, @sudipg4112001 @Ankitasareen can we just work on one algorithm each so there everyone gets a chance?

[2021-03-07 11:32] SatYu26 opened #10 "K-Means - Base"
Adding K means.

GSSoC'21

[2021-03-07 16:18] kritikaparmar-programmer commented on #5
Hey, @arpitmaheshwari213 assigning you the issue on the basis of first come.

[2021-03-07 16:27] RiaKokate commented on #5
Thanks you so much Mam for this opportunity.

On Sun, Mar 7, 2021, 21:48 Kritika Parmar <notifications@github.com> wrote:

[2021-03-08 06:35] geekquad commented on #8
Sounds amazing.
Would you like to work on the same?

[2021-03-08 07:36] JanhaviSoni opened #12 "Linear Regression"
I am a participant of GSSOC'21 . I would like to contribute on Linear Regression - simple , multiple and polynomial . Please assign this issue to me.

[2021-03-08 09:45] psyduck1203 commented on #12
I have already worked on this issue. The pull request is also made.

[2021-03-08 09:47] psyduck1203 commented on #12
#9

[2021-03-08 14:18] guptaa98 opened #13 "PCA"
Can I work on this as a GSSOC'21 participant?
Kindly assign me this issue. I'll be using python.

[2021-03-08 15:16] #13 closed

[2021-03-08 17:18] captainra1 opened #14 "Principal component Analysis(PCA),K-Means, Logistic Regression, Linear regression"
I am a GSSOC 21's participant and want to work on the algorithms- Principal component Analysis(PCA), K-Means, Logistic Regression, Linear regression. kindly assign me.

[2021-03-08 21:15] NitiKaur opened #15 "MultiLayer Pereceptron and Naive Bayes"
I want to work on these two folders as an initial task.Please assign it to me

[2021-03-09 03:10] JanhaviSoni commented on #7
@geekquad please assign Random Forest Regression to me

[2021-03-09 03:14] JanhaviSoni commented on #12
@geekquad if this issue hasn't been assigned to anyone and if I could work on it please assign it to me. Otherwise if the pull request for this is ready to get merged so I could work on Support Vector Regression also . Please look at this.

[2021-03-09 03:18] gopichandpuli9 commented on #10
Can I work on this

[2021-03-09 03:20] gopichandpuli9 opened #16 "K Nearest Neighbours"
Can I work on this issue as a part of GSSoC?

[2021-03-09 03:23] gopichandpuli9 opened #17 "Bayesian Regression - Documentation"
Could you please assign me this issue

[2021-03-09 05:12] SatYu26 commented on #10
actually I have already pushed a PR for this

[2021-03-09 05:31] Abhinaba006 commented on #14
I am a GSSOC 21 participant, I will like to contribute, please assign me this

[2021-03-09 05:42] psyduck1203 opened #18 "D203 and D211 are in conflict"
![Screenshot_2021-03-09 Algo-ScriptML - Codacy - Commits(1)](https://user-images.githubusercontent.com/58680590/110423752-a4671b80-80c7-11eb-8f5a-9d2be49134ad.png)

![Screenshot_2021-03-09 Algo-ScriptML - Codacy - Commits](https://user-images.githubusercontent.com/58680590/110423728-974a2c80-80c7-11eb-8499-d2df4f01515a.png)

I tried a lot of commits and changes to the code and then after googling

[2021-03-09 05:43] psyduck1203 commented on #18
@geekquad, @plazzy99 please look at this issue.

[2021-03-09 06:09] aditiaggarwal28 commented on #16
I'm a GSSOC'21 participant and will contribute to this issue using c++ language.
Requesting admins to please assign this issue to me.

[2021-03-09 08:15] AkanchhaBhadani opened #19 "Ridge Regression - Base"
Would like to work on Ridge Regression.
( I am GSSOC 2021 participant)

[2021-03-09 08:28] nakshatrasinghh opened #20 "Xgboost or AdaBoost"
Would like to work on XGBoost or Adaboost from scratch (GSSoC' 21)

[2021-03-09 09:06] Amit366 commented on #16
Can I work on this issue??

[2021-03-09 11:29] srisatya1197 commented on #20
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:24] NitiKaur opened #21 "Adaboost and Apriori"
I am a GSSOC participant and would like to work on these two algorithms.Please assign it to me

[2021-03-09 14:46] RidhimaKohli opened #24 "Add loss functions"
I would like to add loss functions as GS SOC 21 participant.

[2021-03-09 17:12] nNikita1018 commented on #16
I want to work with this issue

[2021-03-09 17:48] muskangupta042002 commented on #3
Hey, I am GSSOC'21 participant I want to work on this issue. Kindly consider assigning this to me.

[2021-03-10 05:16] ptnv-s opened #25 "Support Vector Machine-Base"
I am a GSSOC'21 participant and I would like to implement SVM from scratch.
Can you please assign this to me?

[2021-03-10 08:38] SSHREYA71 commented on #19
I would like to work on this issue, please assign this to me. ( I am GSSOC 2021 participant)

[2021-03-10 08:39] SSHREYA71 commented on #16
I would like to work on this issue

[2021-03-10 10:47] Anam118 commented on #25
I want to contribute and implement SVM .Plz provide the same to me as a part of GSSOC Participant 2021.

[2021-03-10 11:06] Khushi1408 commented on #17
I would like to work on this issue. I will code it using python.

[2021-03-10 11:59] SSHREYA71 commented on #5
I will like to contribute on this issue under GSSOC'21 please assign it to me

[2021-03-10 12:23] ananyade2412 opened #26 "KNN - Base"
Hello @kritikaparmar-programmer.
I am a GSSOC'21 participant. I would like to work on the issue of the K Nearest Neighbours Algorithm using Python. Please assign this issue to me.

[2021-03-10 12:36] simarjeet30 commented on #26
Hello @kritikaparmar-programmer.
I am a GSSOC'21 participant. I would like to work on the issue of the K Nearest Neighbours Algorithm using any of my three languages. I know python , C , C++ well. And i also have a good knowledge on DSA .Please assign this issue to me.

[2021-03-10 12:38] simarjeet30 commented on #16
Hello @kritikaparmar-programmer.
I am a GSSOC'21 participant. I would like to work on the issue of the K Nearest Neighbours Algorithm using any of my three languages. I know python , C , C++ well. And i also have a good knowledge on DSA .Please assign this issue to me.

[2021-03-10 13:55] skybluee2001 commented on #20
Hii...I am a GSSOC'21 participant. I have worked on a similar problem before and want to work on this issue. Kindly assign this issue to me as a part of the GSSOC'21.

[2021-03-10 14:00] skybluee2001 commented on #15
Hii...I am a GSSOC'21 participant. I have worked on a similar problem before and want to contribute to this issue. Kindly assign me this issue as a part of the GSSOC'21.

[2021-03-10 14:05] skybluee2001 commented on #7
Hii...I am a GSSOC'21 participant. I have worked on similar problems before and want to contribute to this issue. Kindly assign me this issue as a part of the GSSOC'21.

[2021-03-10 14:09] skybluee2001 commented on #6
Hii...I am a GSSOC'21 participant. I want to work on this issue. I can contribute to any of the 3 algorithms. Kindly assign me this issue as a part of the GSSOC'21.

[2021-03-10 14:15] skybluee2001 commented on #4
Hii...I am a GSSOC'21 participant. I want to work on this issue by updating the algorithms and explaining the algorithms' inner workings. Kindly assign me this issue under GSSOC'21.

[2021-03-10 14:46] NitiKaur commented on #15
I have also worked also worked on it. @skybluee2001  please look for some other issue! :)

[2021-03-10 18:20] Sibasish-Padhy commented on #3
Hey I am GSSOC'21 participant i really wanna contribute to classification algorithms>Kindly consider assigning this to me

[2021-03-11 08:48] Aditi0102 commented on #7
Hello, I want to contribute to the issue and build SVM, Random forest and XGBoost algorithms from scratch and code them in an efficient and presentable manner.

[2021-03-11 09:05] Dishita2602 commented on #6
Hey, I am willing to work on K- means, Regression and decision tree in python by using scikit learn. I am currently participant at GSSoC'21 and want to work on this issue.

[2021-03-11 09:13] Dishita2602 commented on #3
Hello ! I can write code from scratch for Artificial Neural Networks(ANN), SVM, Random Forest, XG Boost, Ridge Regression, Decision Tree, MLP Regressor and additionally use of hyperparameter optimization and improved accuracy.

[2021-03-11 10:53] sherin527 opened #27 "Implementing Naive Bayes"
Hi @geekquad, I'm a GSSOC'21 participant and I want to contribute to this by adding an ML script for Naive Bayesian. Please consider me and assign this issue to me.

[2021-03-11 16:03] moyantri opened #29 "Bayesian Regression-Base"
I am a gssoc'21 participant and I want to work on it , please assign it to me

[2021-03-11 16:31] divyanshu887 opened #30 "Lasso Regression - Base"
Hello @anubhavitis @dheerajkotwani @tarun26091999 @geekquad @todi-2000
I am a gssoc'21 participant and I want to work on it , please assign it to me

[2021-03-11 16:37] tanya12181 commented on #7
hello, i have already implemented svm and random forest from scratch. Kindly assign this issue to me.

[2021-03-11 16:38] ayush237 opened #31 "Decision Tree and Random Forest implementation with explanation"
I am a GSSoC 21 participant(DISCORD username: smoky237 #5411), I can contribute to Decision Trees and Random Forest algorithms (including Bagging Concept) with proper implementation and Documentation.
Kindly assign this work to me @geekquad  @kritikaparmar-programmer  @MAJOR-BEAST
#GSSoc

[2021-03-11 16:48] dikshajoshi18 opened #32 "XG BOOST , ADA BOOST , GRADIENT BOOST"
I am a GSSoC 21 participant. I can contribute to Decision Trees and Ada-Boost, Gradient Boost, and XgBoost algorithms (including Boosting Concept) with proper implementation and Documentation. Kindly assign this work to me @kritikaparmar-programmer @geekquad @MAJOR-BEAST
discord: diksha#6684

[2021-03-11 17:01] ayush237 commented on #31
I am a GSSoC 21 participant. I can contribute to Decision Trees and Random Forest algorithms (including Bagging Concept) with proper implementation and Documentation. Kindly assign this work to me @geekquad
DISCORD : smoky237

[2021-03-11 17:04] dikshajoshi18 opened #33 "Locally Weighted Regression (LOWESS)"
I am a GSSoC 21 participant. I can contribute to locally weighted regression(LOWESS)  with proper implementation and Documentation. Kindly assign this work to me @kritikaparmar-programmer @geekquad @MAJOR-BEAST
DISCORD: diksha#6684

[2021-03-11 17:52] aakriti1318 opened #34 "Perceptron-Base"
Hey, GSSoC 21 participant.
I would like to contribute to Perceptronwith proper implementation and documentation. Kindly assign me this.

[2021-03-12 02:58] ashwani-rathee commented on #4
@codelight2711 @skybluee2001

Pls try to make issues for one algorithm at a time.

[2021-03-12 03:01] ashwani-rathee commented on #34
Okay @aakriti1318,It has been assigned to you,you can start working on it.

[2021-03-12 03:16] ashwani-rathee commented on #32
@dikshajoshi18 Pls make separate issues for all 3,that way I can start assigning issues to you

[2021-03-12 03:31] ashwani-rathee opened #35 "Adaboost-Base"
Task: Set up the basic Adaboost code functionality that works
Level-3 : 25 Points

[2021-03-12 03:34] ashwani-rathee opened #36 "Apriori-Base"
Task: Set up the basic Apriori code functionality that works
Level-3 : 25 Points

[2021-03-12 03:36] ashwani-rathee commented on #29
Task: Set up the basic Bayesian Regression code functionality that works
Level-3 : 25 Points

[2021-03-12 03:38] ashwani-rathee commented on #29
@moyantri You have been assigned the task to setup the base for Bayesian Regression.
Try to submit a PR in 5 days.

[2021-03-12 03:43] skybluee2001 commented on #4
Hii...I want to update the Linear Regression model. I will present its inner workings in a clear and usable manner. Please could you assign it to me under GSSOC'21 so that I can start working on it!!

[2021-03-12 03:45] ashwani-rathee commented on #34
Task: Set up the basic Perceptron code functionality that works
Level-3 : 25 Points

[2021-03-12 03:48] ashwani-rathee commented on #31
@ayush237 Pls make separate issues for both,assigning both algorithms implementation won't be fair.I will assign you one of them of your liking as soon as you have made the issues.

[2021-03-12 03:49] ashwani-rathee commented on #25
Task: Set up the basic SVM code functionality that works
Level-3 : 25 Points

[2021-03-12 03:50] skybluee2001 commented on #36
Hii...I am a GSSOC'21 participant. I want to work on this issue! Kindly assign this issue to me under GSSOC'21.

[2021-03-12 03:50] ashwani-rathee commented on #25
@ptnv-s  You have been assigned the task to setup the base for Support Vector Machine.
Try to submit a PR in 5 days.

[2021-03-12 03:53] ashwani-rathee commented on #26
Task: Set up the basic K Nearest Neighbours code functionality that works
Level-3 : 25 Points

[2021-03-12 03:54] skybluee2001 commented on #35
Hii...I am a GSSOC'21 participant. I want to work on this issue! Kindly assign this issue to me under GSSOC'21.

[2021-03-12 03:54] ashwani-rathee commented on #26
@ananyade2412 You have been assigned the task to setup the base for K Nearest Neighbours.
Try to submit a PR in 5 days.

[2021-03-12 03:56] anjiii-18 commented on #36
Hii, I want to work under this issue for GSSOC 2021. Please assign this to me.

[2021-03-12 03:58] ashwani-rathee commented on #27
Task: Set up the basic Naive Bayes code functionality that works
Level-3 : 25 Points

[2021-03-12 04:01] sakshi012000 commented on #27
I am a GSSoC participant, Can you please assign me this issue?

[2021-03-12 04:03] ashwani-rathee commented on #19
Task: Set up the basic Ridge Regression code functionality that works
Level-3 : 25 Points

[2021-03-12 04:09] ashwani-rathee commented on #34
@aakriti1318 You have been assigned the task to setup the base for Perceptron.
Try to submit a PR in 5 days.

[2021-03-12 04:11] ashwani-rathee commented on #27
@sherin527 You have been assigned the task to setup the base for Naive Bayes.
Try to submit a PR in 5 days.

[2021-03-12 04:14] ashwani-rathee commented on #27
Can you please find another ml algorithm to work or wait for this to be free,since @sherin527 claimed/wanted to work on this issue in past 2 days first.

[2021-03-12 04:17] ashwani-rathee commented on #30
Task: Set up the basic Lasso Regression code functionality that works
Level-3 : 25 Points

[2021-03-12 04:17] Rutikab12 commented on #14
Hi I am GSSoC'21 participant , I would love to contribute this algorithms. Kindly assign it to me.

[2021-03-12 04:17] ashwani-rathee commented on #30
@divyanshu887 You have been assigned the task to setup the base for Lasso Regression.
Try to submit a PR in 5 days.

[2021-03-12 04:23] ashwani-rathee commented on #19
@SSHREYA71 You have been assigned the task to setup the base for Ridge Regression.
Try to submit a PR in 5 days.

[2021-03-12 04:29] ashwani-rathee commented on #33
@dikshajoshi18 @geekquad We would need some setup for this one.

[2021-03-12 04:31] ashwani-rathee commented on #8
@geekquad Would we need separate folder for this one?

[2021-03-12 04:33] ashwani-rathee commented on #21
Hey @NitiKaur ,I have made two separate issues for this,it's a lot of work for a single person..since you have been trying to get a issue for quite sometime now,you would quickly want to grab one of those :)

[2021-03-12 04:34] sherin527 commented on #27
ok @ashwani-rathee ma'am

[2021-03-12 04:38] ashwani-rathee commented on #36
@anjiii-18  You have been assigned the task to setup the base for  Apriori.
Try to submit a PR in 5 days.

[2021-03-12 04:39] ashwani-rathee commented on #35
@skybluee2001 You have been assigned the task to setup the base for Adaboost.
Try to submit a PR in 5 days

[2021-03-12 04:45] geekquad commented on #33
Hey @dikshajoshi18, go ahead.
Just be sure to read the [Contributing Guidelines](https://github.com/Algo-Phantoms/Algo-ScriptML/blob/main/CONTRIBUTING.md) and follow accordingly.
Create a folder. The directory of the folder should look like this:

Just be sure that we are accepting the implementation of the algorithm and not its application. No pre-trained models are allowed and no external module

[2021-03-12 04:45] sherin527 commented on #27
ok @ashwani-rathee, I will do it, Thankyou for assigning.

[2021-03-12 04:47] geekquad commented on #8
Yes @ashwani-rathee,
@khanfarhan10 please create a new folder.
The directory of the folder should look like this:

Just be sure that we are accepting the implementation of the algorithm and not its application. No pre-trained models are allowed and no external modules/libraries are allowed.
Feel free to use NumPy.

Let me know if you have any queries. Thank you.

[2021-03-12 04:52] ashwani-rathee opened #37 "Linear Regression - Base"
Task: Set up the basic Linear Regression code functionality that works
Level-3 : 25 Points

[2021-03-12 04:53] ashwani-rathee opened #38 "Logistic Regression - Base"
Task: Set up the basic Logistic Regression code functionality that works
Level-3 : 25 Points

[2021-03-12 04:53] anjiii-18 commented on #36
@ashwani-rathee Thank you for assigning me. I will submit PR in 5 days.

[2021-03-12 04:54] ashwani-rathee commented on #14
@Rutikab12 I have updated the issues list you can claim one of those among these.

[2021-03-12 04:56] ashwani-rathee opened #39 "Principal Component Analysis - Base"
Task: Set up the basic Principal Component Analysis code functionality that works
Level-3 : 25 Points

[2021-03-12 04:56] skybluee2001 commented on #35
@ashwani-rathee, thank you for assigning me this issue. I will submit a PR within 5 days.

[2021-03-12 04:57] Abhinaba006 commented on #38
I will like to work on this issue, I can make a module in python with functionality of .fit and .predict and other necessary method, so one can directly import it and use the code, the code will be well commented as well

[2021-03-12 04:59] Abhinaba006 commented on #37
I will like to work on this as well, I have previously made module similar to this, one can easily train data use my code

[2021-03-12 05:00] ashwani-rathee opened #40 "XG Boost - Base"
Task: Set up the basic XG Boost code functionality that works
Level-3 : 25 Points

[2021-03-12 05:01] ashwani-rathee commented on #37
@Abhinaba006  You have been assigned the task to setup the base for Linear Regression .
Try to submit a PR in 5 days.

[2021-03-12 05:04] ashwani-rathee commented on #32
@geekquad we already have setup + issues for XGBOOST,ADBOOST.We would also kind of need a folder for Gradient Boost,if we are including it..

[2021-03-12 05:06] ashwani-rathee commented on #38
@Abhinaba006 has already been assigned a issue,this is still open for claim

[2021-03-12 05:18] Rutikab12 commented on #39
I want to contribute to this issue as GSSoC'21 participant.

[2021-03-12 05:22] ashwani-rathee commented on #39
@Rutikab12  You have been assigned the task to setup the base for Principal Component Analysis .
Try to submit a PR in 5 days.

[2021-03-12 05:24] Rutikab12 commented on #39
Okay.

[2021-03-12 05:32] ayush237 commented on #31
@ashwani-rathee  okay.. I am closing this issue and making separate issues for both. Thank You

[2021-03-12 05:33] #31 closed

[2021-03-12 05:36] ayush237 opened #41 "Decision Tree - Base"
I am a GSSoC 21 participant (DISCORD username: smoky237 #5411), I can contribute to the Decision Trees algorithm with proper implementation and Documentation on a dataset.
Kindly assign this work to me @geekquad @kritikaparmar-programmer @MAJOR-BEAST
#GSSoc

[2021-03-12 05:37] ayush237 opened #42 "Random Forest - Base"
I am a GSSoC 21 participant (DISCORD username: smoky237 #5411), I can contribute to the Random Forest algorithm(including bagging concept) with proper implementation and Documentation on a dataset.
Kindly assign this work to me @geekquad @kritikaparmar-programmer @MAJOR-BEAST
#GSSoc

[2021-03-12 05:41] ashwani-rathee commented on #41
Task: Set up the basic Decision Tree code functionality that works
Level-3 : 25 Points

[2021-03-12 05:42] ashwani-rathee commented on #41
@ayush237  You have been assigned the task to setup the base for Decision Tree .
Try to submit a PR in 5 days.

[2021-03-12 05:47] ashwani-rathee commented on #39
@Rutikab12 Yeah,It's expected to write a small example to show that your code works and it does what it's supposed to do.

[2021-03-12 05:50] dikshajoshi18 commented on #40
I am a GSSoC 21 participant (DISCORD username:  diksha#6684 ), I can contribute to the XGBoost algorithm with proper implementation and Documentation on a dataset.
Kindly assign this work to me @ashwani-rathee  @geekquad @kritikaparmar-programmer @MAJOR-BEAST
#GSSoc

[2021-03-12 05:52] aakriti1318 commented on #34
Sure, will work under the deadline.

[2021-03-12 05:54] dikshajoshi18 opened #43 "XGBoost , explanation and implementation"
I am a GSSoC 21 participant (DISCORD username: diksha#6684 ), I can contribute to the XGBoost algorithm with proper implementation and Documentation on a dataset.
Kindly assign this work to me @ashwani-rathee @geekquad @kritikaparmar-programmer @MAJOR-BEAST
#GSSoc

[2021-03-12 05:56] dikshajoshi18 commented on #42
I am a GSSoC 21 participant (DISCORD username: diksha#6684 ), I can contribute to the Random Forest algorithm with implementation and Explanation applying it on a dataset.
Kindly assign this work to me @ashwani-rathee @geekquad @kritikaparmar-programmer @MAJOR-BEAST
#GSSoc

[2021-03-12 05:58] ashwani-rathee commented on #43
@dikshajoshi18 pls don't open issues,that have already been opened.It makes managing issues and assigning tasks difficult.

[2021-03-12 06:00] ashwani-rathee commented on #40
@dikshajoshi18  You have been assigned the task to setup the base for XG Boost.
Try to submit a PR in 5 days.

[2021-03-12 06:05] dikshajoshi18 commented on #43
alright, sure, sorry about that

[2021-03-12 06:05] #43 closed

[2021-03-12 06:21] SatYu26 commented on #10
@ashwani-rathee can u please help me let me know what should I add or remove in order to make it a successful merge.

[2021-03-12 06:30] AkanchhaBhadani commented on #38
I would like to work on this issue. I am gssoc'21 participant. Please assign me this issue.

[2021-03-12 06:36] ashwani-rathee commented on #38
@AkanchhaBhadani You have been assigned the task to setup the base for Logistic Regression  .
Try to submit a PR in 5 days.

[2021-03-12 07:03] captainra1 commented on #14
assign me PCA or K-means

[2021-03-12 07:25] Sibasish-Padhy commented on #7
hello,I am currently a GSSoC 2021 paticipant and want to contribute for svm and XGBoost from scratch.Kindly assign this issue to me @ashwani-rathee

[2021-03-12 07:27] Sibasish-Padhy commented on #12
I am a participant of GSSOC 2021 and I would like to contribute on Linear regression-one-dimensional and multi-dimensional.Please assign this issue to me

[2021-03-12 07:31] Sibasish-Padhy commented on #24
I would like to add to loss functions for linera ,logistic,nns,SVM and some other classfication algorithms I know @ashwani-rathee

[2021-03-12 07:35] Sibasish-Padhy commented on #3
hello!I can write code for Logistic ,KNN and linear regression from scratch and can also compare the algorithms for any dataset using balanced class accuracy(BCA)can i contribute to this project

[2021-03-12 07:37] akshitadixit commented on #7
@ashwani-rathee I raised the issue 9days ago, kindly assign it to me under GSSOC

[2021-03-12 07:39] Sibasish-Padhy commented on #32
hi I am gssoc 2021 participant.I would like to contribute to as many algos as I can.Can u assign me with this task??

[2021-03-12 07:42] ashwani-rathee commented on #7
@akshitadixit SVM,XGboost have already been assigned,you can claim RandomBoost one if nobody has claimed it before you in last 2 days

[2021-03-12 07:44] Sibasish-Padhy commented on #14
@ashwani-rathee please assign me with PCAas It would also help me for a better grasp

[2021-03-12 07:47] ashwani-rathee commented on #14
All these have been assigned already for next 4 days,you can check the updated issues to see which issue is assigned and which is free.

[2021-03-12 07:47] #14 closed

[2021-03-12 07:48] ashwani-rathee commented on #12
@Sibasish-Padhy It has been assigned for next 4 days,there are other issues that are open :)

[2021-03-12 07:48] #12 closed

[2021-03-12 07:49] ashwani-rathee commented on #15
These have been assigned properly and proper channel for communication for these have been formed

[2021-03-12 07:49] #15 closed

[2021-03-12 07:52] ashwani-rathee commented on #17
Task:  Update the Readme.md to explain the process behind Bayesian Regression as well as you can
Level-1 : 10 Points

[2021-03-12 07:52] ashwani-rathee commented on #17
@Khushi1408 would you like to take this task?

[2021-03-12 07:53] ashwani-rathee commented on #20
Proper Channels have been formed for both of these,need to close these to avoid confusion

[2021-03-12 07:53] #20 closed

[2021-03-12 07:53] gopichandpuli9 commented on #17
@ashwani-rathee I've raised this issue first. Please assign this to me!

[2021-03-12 07:55] ashwani-rathee commented on #21
Proper channels/issues have been forward to continue work on those algorithms,need to close these to reduce confusion.

[2021-03-12 07:55] #21 closed

[2021-03-12 08:02] ashwani-rathee commented on #17
@gopichandpuli9 It was decided by project admin and mentors that the issue is assigned to someone who has asked for the claim on issue in last 2 days first.I would wait for 1 hr for @Khushi1408 to respond,otherwise I will assign you :)

[2021-03-12 08:04] ashwani-rathee commented on #7
Proper issues have been formed for this issue(multiple issue and need to close this to avoid confusion :)

[2021-03-12 08:04] #7 closed

[2021-03-12 08:07] ashwani-rathee commented on #16
Proper issue has been formed for this and it will cause more confusion if we keep this @simarjeet30 @gopichandpuli9 pls make KNN-documentation issue,since KNN-base has already been assigned

[2021-03-12 08:07] #16 closed

[2021-03-12 08:09] ashwani-rathee commented on #6
Proper issues have been formed for this and it needs to closed to avoid confusion

[2021-03-12 08:09] #6 closed

[2021-03-12 08:11] ashwani-rathee commented on #5
Proper issues have been formed for ths,this needs to be closed to avoid confusion

[2021-03-12 08:11] #5 closed

[2021-03-12 08:13] ashwani-rathee commented on #10
@SatYu26  You have been assigned the task to setup the base for K Means.
Try to submit a PR in 5 days.

[2021-03-12 08:14] ashwani-rathee commented on #10
@SatYu26 It's mostly linting issues,I will review it properly later today and also need to talk to our admin to know how strictly we talk linting issues.

[2021-03-12 08:15] ashwani-rathee commented on #3
Proper Channels have been formed for this and this needs to be closed to avoid confusion

[2021-03-12 08:15] #3 closed

[2021-03-12 08:16] ashwani-rathee commented on #4
Proper channels/issues have been formed and this needs to be closed to avoid confusion

[2021-03-12 08:16] #4 closed

[2021-03-12 08:20] ashwani-rathee commented on #24
@Sibasish-Padhy you don't need to do that :).I will be forming more issues today,you can get one from them.

[2021-03-12 08:20] simarjeet30 commented on #42
I am a GSSoC 21 participant , I can contribute to the Random Forest algorithm  in pythin/c/c++.
Kindly assign this work to me @ashwani-rathee @geekquad @kritikaparmar-programmer

[2021-03-12 08:21] JanhaviSoni commented on #42
Please assign it @ashwani-rathee

[2021-03-12 08:21] #24 closed

[2021-03-12 08:22] ashwani-rathee commented on #42
@simarjeet30  You have been assigned the task to setup the base for Random Forest .
Try to submit a PR in 5 days.

[2021-03-12 08:23] ashwani-rathee commented on #42
@JanhaviSoni I will be forming more issues today,you can get one from them :)30 seconds difference in comment quite amazed

[2021-03-12 08:25] ashwani-rathee opened #46 "Mutlilayer Perceptron - Base"
Task: Set up the basic Mutlilayer Perceptron code functionality that works
Level-3 : 25 Points

[2021-03-12 08:26] JanhaviSoni commented on #42
Okay. Thanks for looking into this .

[2021-03-12 08:26] JanhaviSoni commented on #46
Assign this to me

[2021-03-12 08:27] ashwani-rathee commented on #46
@JanhaviSoni  You have been assigned the task to setup the base for Multilayer Perceptron.
Try to submit a PR in 5 days.

[2021-03-12 08:31] SatYu26 commented on #10
@ashwani-rathee Sure sir. meanwhile, i will try to make it more precise and as soon as u will let me know I will change them.

[2021-03-12 08:34] gopichandpuli9 opened #47 "Neural Network"
Can I implement this?

[2021-03-12 08:46] ashwani-rathee commented on #47
@geekquad We would need another folder right?

[2021-03-12 08:47] gopichandpuli9 commented on #47
Kindly assign this issue to me:)

[2021-03-12 09:50] geekquad commented on #47
Hey @gopichandpuli9, what exactly are you trying to implement here?

[2021-03-12 09:59] geekquad commented on #18
Hey @psyduck1203, the webhooks we were using were not trained and thus were throwing errors.
Please try again and you will be good to go.
Let me know if you face any difficulties.

[2021-03-12 10:02] gopichandpuli9 commented on #47
@geekquad I'll implement forward propogation, backward propogation and the logic behind that using an example dataset.

[2021-03-12 10:07] geekquad commented on #47
You can implement forward and backward propagation but we are only accepting the implementation of the algorithm and not its application. Please go through the Contributing Guidelines.
Do let me know if you are still willing to take up the issue.

[2021-03-12 10:09] gopichandpuli9 commented on #47
@geekquad sure! I'll implement forward propogation and backward propogation. Assign this to me!

[2021-03-12 10:13] geekquad commented on #47
Assigning this to you. No pre-trained models are allowed and no external modules/libraries are allowed.
Feel free to use NumPy.
Please create a new folder.
The directory of the folder should look like this:

[2021-03-12 11:54] rohank2502 opened #48 "Will like to add the automated contribution section in read me"
I will like to add a feature in read me which will update the list of contributors automatically !!

[2021-03-12 12:39] ashwani-rathee commented on #48
@geekquad Do we need this feature?I like the idea

[2021-03-12 12:48] geekquad commented on #48
Hey @rohank2502, how exactly are you planning to do so?
By using the all-contributors bot?

[2021-03-12 13:05] rohank2502 commented on #48
No I will add one link of image which I have added to my own repository https://github.com/rohank2502/Learn-GITHUB   Have a look at read me of this .

[2021-03-12 13:06] Sibasish-Padhy commented on #17
can i work on this issue??

[2021-03-12 13:07] Sibasish-Padhy commented on #33
I am a GSSoC 21 participant. I can contribute to locally weighted regression(LOWESS) with proper implementation and Documentation. Kindly assign this work to me @kritikaparmar-programmer @geekquad @MAJOR-BEAST

[2021-03-12 13:26] ashwani-rathee commented on #17
Sure @Sibasish-Padhy ,You have been assigned the task to create detailed documentation of Bayesian Regression.
Try to submit a PR in 2 days.

[2021-03-12 13:32] Khushi1408 commented on #17
Yes sure

On Fri, 12 Mar 2021, 13:22 Ashwani Rathee, ***@***.***> wrote:

[2021-03-12 13:46] Khushi1408 commented on #17
I apologize for late reply, it wont happen again, can you assign me some
other task?

On Fri, 12 Mar 2021, 19:02 Khushi Yagnik, ***@***.***> wrote:

[2021-03-12 14:08] ashwani-rathee opened #49 "Linear Regression - Documentation"
Task : Create detailed documentation of the Linear Regression ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-12 14:09] ashwani-rathee opened #50 "Logistic Regression - Documentation"
Task : Create detailed documentation of the Logistic Regression ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-12 14:10] ashwani-rathee commented on #17
@Khushi1408 I have created 2 more documentation tasks ,you can claim one of those

[2021-03-12 15:31] sakshi012000 commented on #50
Hi,
I am GSSOC'21 participant
please assign me this.

[2021-03-12 16:03] ashwani-rathee commented on #50
Sure @sakshi012000  ,You have been assigned the task to create detailed documentation of Logistic Regression.
Try to submit a PR in 2 days.

[2021-03-12 16:08] JanhaviSoni commented on #46
@ashwani-rathee I wanted to ask that can we use modules or everything from scratch . Also we just need to write how the algo works or implement it using data set

[2021-03-12 16:09] sakshi012000 commented on #50
yes sure . thank you

[2021-03-12 16:13] geekquad commented on #48
Hey @rohank2502, thank you for the effort but I know about the **contrib.rocks**.
Will add it in the later phase of the program.

[2021-03-12 16:13] #48 closed

[2021-03-12 16:24] rohank2502 commented on #48
Will like to work on this do consider me !!

[2021-03-12 16:35] ashwani-rathee commented on #46
@JanhaviSoni You can use numpy,and that should be enough for algorithm part,you have to just kind of prove that your method works(so yeah you would need a simple example).

[2021-03-12 16:36] simarjeet30 commented on #42
@ashwani-rathee  In which language am I supposed to do this work

[2021-03-12 16:38] simarjeet30 commented on #16
@ashwani-rathee  what am I supposed to do in  KNN-documentation issue ?

[2021-03-12 16:44] aanchalsethi commented on #49
Hey!
i would like to create a document on linear regression.

[2021-03-12 17:11] KISHU-123 opened #52 "Logistic Regression and Linear Regression -Implementation"
I can do the implementation of linear regression and logistic regression form scratch.
I am a gssoc'21 participant.

[2021-03-12 17:31] Hamza3226 commented on #8
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #36
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #38
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #37
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #41
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #47
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #50
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:32] Hamza3226 commented on #49
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:38] aishwaryachand opened #54 "Decision Tree -Documentation"
Hey @ashwani-rathee I would like to work on the documentation of the Decision Tree. I am a GSSOC21 participant.Pls assign me this issue.

[2021-03-12 17:53] psyduck1203 commented on #12
@ashwani-rathee I have already worked on this issue and made a PR 7 days ago. Only because of the checks issue #18 was failing the checks and now the issue is solved the checks are passed and the pull request is Good to go. #9

[2021-03-12 18:14] sherin527 commented on #27
@ashwani-rathee, I have made my pull request, please check it out and review it. If any changes are required please let me know.

[2021-03-12 18:22] SSHREYA71 commented on #49
Hello, I am a GSSOC'21 participant and would like to contribute to this project. Please assign it to me

[2021-03-12 18:25] SSHREYA71 opened #56 "RandomForest - Documentation"
Hello, I am a GSSOC'21 participant and would like to contribute to this project  by adding documentation for RandomForest, please  assign it to me.

[2021-03-12 18:25] SSHREYA71 opened #57 "RandomForest - Documentation"
Hello, I am a GSSOC'21 participant and would like to contribute to this project  by adding documentation for RandomForest, please  assign it to me.

[2021-03-12 19:07] SSHREYA71 commented on #19
Just saw this update, Thank You :) On it

[2021-03-12 19:28] eishagoel15 commented on #49
I am a Gssoc participant and I can contribute to this issue by writing a well neat and clean documentation for this. So plz assign this issue to me.

[2021-03-12 19:48] harleenkaur76 commented on #49
hello ...I am agssoc participant and would love to contribute to this course it will be great if you can assign this project to me

[2021-03-12 19:49] harleenkaur76 commented on #49
hello ...I am a gssoc participant and would love to contribute to this issue it will be great if you can assign this project to me

[2021-03-12 19:51] harleenkaur76 commented on #50
hello ...I am a gssoc participant and would love to contribute to this issue it will be great if you can assign this project to me. i will do my best to write clean and understandable documentation

[2021-03-13 00:03] sayan9112 commented on #49
Hi,
I am GSSOC'21 participant
please assign me this.

[2021-03-13 00:04] sayan9112 commented on #33
Hi,
I am GSSOC'21 participant
please assign me this.

[2021-03-13 00:04] sayan9112 commented on #32
Hi,
I am GSSOC'21 participant
please assign me this.

[2021-03-13 00:30] ashwani-rathee commented on #42
@simarjeet30 Can you please check the readme.md and contribution guidelines?It's mentioned there and lot of other important details on how to proceed with tasks

[2021-03-13 00:32] ashwani-rathee commented on #16
@simarjeet30,you are assigned Random Forest Base,please try to do only one thing at a time :)

[2021-03-13 00:37] ashwani-rathee commented on #52
@KISHU-123 Linear Regression and Logistic Regression base setup have already been assigned,you can take up documentation tasks by claiming issue in issues list

[2021-03-13 00:41] ashwani-rathee commented on #54
Task : Create detailed documentation of the Decision Tree ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-13 00:43] ashwani-rathee commented on #54
Sure @aishwaryachand  ,You have been assigned the task to create detailed documentation of Decision Tree.
Try to submit a PR in 2 days.

[2021-03-13 00:53] ashwani-rathee commented on #56
@SSHREYA71 you have already been assigned a task,can you take up this one after you're done with that one.

[2021-03-13 00:59] ashwani-rathee commented on #49
Sure @aanchalsethi  ,You have been assigned the task to create detailed documentation of Linear Regression.
Try to submit a PR in 2 days.

[2021-03-13 00:59] ashwani-rathee commented on #57
Duplicate

[2021-03-13 00:59] #57 closed

[2021-03-13 04:45] SSHREYA71 commented on #56
Sure, Thank you so much. :)

[2021-03-13 05:09] ELITA04 opened #58 "KMeans - Documentation"
Hello, I am a GSSOC'21 participant and I want to work on the documentation of KMeans clustering algorithm. Can you assign it to me?

[2021-03-13 08:39] sal-glitch opened #59 "Multilayer Perceptron -Documentation"
Hey Since someone is already assigned the code, can I be assigned on the documentation? I am a GSSOC participant

[2021-03-13 08:42] sal-glitch opened #60 "Elastic Net- Base"
Hey! I would like to work on the code for Elastic net, its implementation from scratch. Could I be assigned this issue. I am a GSSOC participant.

[2021-03-13 08:57] captainra1 opened #61 "Stochastic Gradient descent algorithm with full explanation."
I am a GSSOC's participant please assign me this issue.

[2021-03-13 10:11] hritikchaturvedi11 commented on #38
Hello, I'm a GSSOC'21 participant and would like to contribute to this project

[2021-03-13 10:12] hritikchaturvedi11 commented on #30
I want to contribute to this issue.

[2021-03-13 10:17] hritikchaturvedi11 commented on #40
I want to work on this issue.

[2021-03-13 10:28] hritikchaturvedi11 commented on #52
I wanted to do the implementation of both lasso and logistic regression.

[2021-03-13 11:06] #52 closed

[2021-03-13 11:06] ashwani-rathee commented on #52
Proper channels have been formed this not neccessary

[2021-03-13 11:07] ashwani-rathee commented on #58
Task : Create detailed documentation of the KMeans ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-13 11:08] ashwani-rathee commented on #58
Sure @ELITA04  ,You have been assigned the task to create detailed documentation of KMeans.
Try to submit a PR in 2 days.

[2021-03-13 11:10] ashwani-rathee commented on #56
Task : Create detailed documentation of the Random Forest ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-13 11:11] ashwani-rathee commented on #59
Task : Create detailed documentation of the Multilayer Perceptron ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-13 11:12] ashwani-rathee commented on #59
Sure @sal-glitch ,You have been assigned the task to create detailed documentation of Multilayer Perceptron .
Try to submit a PR in 2 days.

[2021-03-13 11:13] ashwani-rathee commented on #60
Task: Set up the basic Multilayer Elastic Net code functionality that works
Level-3 : 25 Points

[2021-03-13 11:14] ashwani-rathee commented on #61
@geekquad Do we need setup for this?

[2021-03-13 12:27] sal-glitch commented on #60
Hey thanks! Can I get this assigned please?

[2021-03-13 12:34] ashwani-rathee commented on #60
@sal-glitch one task at a time :) you asked for documentation first

[2021-03-13 12:36] sal-glitch commented on #60
Yeah sure no problem. Will do this after I am done with the other one!

[2021-03-13 13:47] tanvi355 commented on #56
Hey! I would like to work on this issue under GSSoC'21

[2021-03-13 14:16] vaishnavipatil29 opened #62 "K Means Algorithm Implementation Code"
Hello, I am a GSSOC'21 participant and I want to work on the implementation of KMeans clustering algorithm from scratch. Can you assign it to me?

[2021-03-13 14:30] ashwani-rathee commented on #62
@vaishnavipatil29 K-Means code implementation has already been assigned in #10 ,pls take up another task  for now :)

[2021-03-13 15:05] hritikchaturvedi11 commented on #56
Hello! I would like to work on this issue.

[2021-03-13 15:06] hritikchaturvedi11 commented on #58
Hey! I would like to work on it too.

[2021-03-13 15:36] Simar05519 commented on #8
I want to work on this issue. Please assign to me.

[2021-03-13 16:45] prathimacode-hub commented on #56
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 16:51] aanchalsethi opened #65 "Neural network - Documentation"
May i create the documentation for the neural network?

[2021-03-13 16:58] divyanshu887 opened #66 "Lasso Regression - Documentation"
I want to work on the documentation of Lasso Regression algorithm. Can you assign it to me?
@ashwani-rathee

[2021-03-13 17:52] anjiii-18 commented on #36
@ashwani-rathee Can I use any dataset for the implementation of Apriori code?

[2021-03-13 20:08] Bayesian4042 commented on #39
Hey @ashwani-rathee can I work on this one as well ?

[2021-03-13 20:15] hritikchaturvedi11 commented on #61
I want to work on this issue.

[2021-03-13 20:22] Bayesian4042 commented on #60
Hey @ashwani-rathee can I work on elastic net regularisation ?

[2021-03-13 20:24] hritikchaturvedi11 opened #67 "XGBoost documentation"
I want to work on this issue as it hadn't mentioned earlier. I have great knowledge of model selection and it might be of great use here.

[2021-03-13 20:26] hritikchaturvedi11 opened #68 "Decision Tree code implementation"
I want to work on this issue.

[2021-03-13 20:39] hritikchaturvedi11 commented on #60
Hey, Can I work on this issue??

[2021-03-13 20:42] hritikchaturvedi11 opened #69 "DBSCAN - Documentation"
Can I work on this issue???

[2021-03-13 20:43] hritikchaturvedi11 opened #70 "DBSCAN base implementation"
Can I work on this issue?

[2021-03-13 22:06] hritikchaturvedi11 opened #71 "Adaboost - Documentation"
As this issue hadn't been raised earlier. I would like to work on this issue.

[2021-03-13 22:10] hritikchaturvedi11 opened #72 "K Nearest Neighbors code implementation"
I would like to work on this issue. As this hadn't been raised earlier.

[2021-03-13 22:13] hritikchaturvedi11 opened #73 "Support Vector Machine - Documentation"
I would like to write the whole analysis of this algorithm and documentation.

[2021-03-14 04:01] Rutikab12 commented on #39
@Bayesian4042 I have two days left for PR. I i am unable to complete it, then you can go for it.

[2021-03-14 04:21] Rutikab12 commented on #39
@ashwani-rathee my code is ok , is it? . I only have to pull it in .py extension, right?. I have closed my PR , which was pulled yesterday.

[2021-03-14 04:33] ashwani-rathee commented on #39
I'll try to get it merged today,if it's working fine.I have got to check the algorithm though,on it.

[2021-03-14 05:01] harleenkaur76 commented on #72
i am a gssoc participant and i would love to work on this issue and would like to write a code to explain the concept

[2021-03-14 05:40] captainra1 commented on #61
I really don't understand what does setup means here??
but assign me this, here is my plan:
1. explain what is SGD(Stochastic Gradient descent)
2. when to use SGD.
3. How it is different from other ML algos
4. How and what different types of ML algo can be used with SGD.
5.coding for SGD
6.Used case( model based on SGD).

[2021-03-14 06:53] ashwani-rathee commented on #67
Task : Create detailed documentation of the XGBoost ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-14 06:53] ashwani-rathee commented on #67
Sure @hritikchaturvedi11  ,You have been assigned the task to create detailed documentation of XGBoost .
Try to submit a PR in 2 days.

[2021-03-14 07:12] sal-glitch commented on #59
Hey I have given a PR for this, do let me know if I need to change anything.

[2021-03-14 07:12] subhanjan160901 commented on #61
Can I work on this issue. I have worked with SGD quite a number of times and i am sure I can do this quite well

[2021-03-14 07:14] subhanjan160901 commented on #60
Can I do this, I am a gssoc participant... I have worked with Elastic nets

[2021-03-14 07:15] subhanjan160901 commented on #59
Is there any issues left? can I work on it? I am a gssoc participant

[2021-03-14 07:16] subhanjan160901 commented on #56
Hey, can I work on this?

[2021-03-14 07:18] ashwani-rathee commented on #56
Sure @tanvi355 ,You have been assigned the task to create detailed documentation of Random Forest.
Try to submit a PR in 2 days.

[2021-03-14 07:19] ashwani-rathee opened #79 "Base- Setup Guide Lines"
The Guidelines for Base Setup issues go here

[2021-03-14 07:20] ashwani-rathee opened #80 "Documentation Issues Guidelines"
The guidelines for documentation issues go here
Several good examples from your fellow participants : #83 #84 #78
What you need for documentation:

Heading of the algorithm

Introduction : definition,history
How Algorithms Works? : algorithms steps,ideas behind the algorithm
Advantages
Disadvantages
Applications :where it's used
References : link for further reading,links to youtube vids so
Write

[2021-03-14 07:20] subhanjan160901 commented on #32
Hi, can I get this task assigned?

[2021-03-14 07:21] ashwani-rathee opened #81 "Bugs,Minor Issues,Fixes Guidelines"
Guidelines above mentioned issues goes here

[2021-03-14 07:34] Amit366 commented on #26
@ashwani-rathee Can I work on this issue??

[2021-03-14 08:01] geekquad commented on #61
Thankyou @ashwani-rathee.
Hey @captainra1,
Assigning the issue to you. Make sure you have read the Contributing Guidelines.
We are looking for an implementation of the algorithm and not its application.
Please create a folder for the same. The directory of the folder should look like this:

Let me know if you have any queries. Thankyou.

[2021-03-14 08:02] geekquad commented on #32
Yes @ashwani-rathee.

[2021-03-14 08:25] ashwani-rathee commented on #73
Task : Create detailed documentation of the Support Vector Machine ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-14 08:26] ashwani-rathee commented on #72
This is already being worked upon in #10

[2021-03-14 08:28] ashwani-rathee commented on #71
Task : Create detailed documentation of the Adaboost ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-14 08:28] ashwani-rathee commented on #70
Task: Set up the basic DBSCAN code functionality that works
Level-3 : 25 Points

[2021-03-14 08:30] ashwani-rathee commented on #69
Task : Create detailed documentation of the DBSCAN ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-14 08:31] ashwani-rathee commented on #68
This is already being worked upon in #41

[2021-03-14 08:33] ashwani-rathee commented on #66
Task : Create detailed documentation of the Lasso Regression ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-14 08:34] ashwani-rathee commented on #66
Sure @divyanshu887 ,You have been assigned the task to create detailed documentation of Lasso Regression.
Try to submit a PR in 2 days.

[2021-03-14 08:37] ashwani-rathee commented on #65
@aanchalsethi There is no specific folder for neural network as of now #47 .It's not exactly clear what will go in that,this task can be assigned when the task is more clear to me. Please take up another unassigned issue :)

[2021-03-14 08:38] khanfarhan10 commented on #8
Could you please assign someone else for this task? Actually I'm not a participant but a mentor for another project.

[2021-03-14 09:03] aanchalsethi commented on #65
okay sir

[2021-03-14 10:26] SNIGDHA2654 commented on #71
I would like to contribute could you please assign me this task.  I am a gssoc participant.

[2021-03-14 10:28] SNIGDHA2654 commented on #73
I would like to create detailed documentation of SVM. Please assign me this task. I am a gssoc participant.

[2021-03-14 11:03] sujoy-coder opened #85 "Adding New Module/Class for Normalization and Standardization - Base"
HI @ashwani-rathee , I would like to add a new feature that is adding new `Module/Class for Normalization and Standardization` .
We know before train the data to some specific ML Model we have to  Normalized or Standardized the dataset to get better accuracy.
So I am a GSSoC participant. I would like to work on the same issue

Thank You 🙏

[2021-03-14 11:27] aanchalsethi commented on #69
May i work on this documentation?

[2021-03-14 11:31] aanchalsethi commented on #70
May i work on this issue?

[2021-03-14 11:47] #72 closed

[2021-03-14 12:22] aishwaryachand opened #86 "Naive Bayes -Documentation"
I would like to work on this issue. Pls, assign me.

[2021-03-14 13:07] sakshi012000 commented on #50
@ashwani-rathee  I have sent a PR . Please inform me for any modifications.
thankyou

[2021-03-14 13:16] ashwani-rathee commented on #69
@aanchalsethi Let's get #83 merged first,you have claimed both base and documentation,then you can work on either of your choice

[2021-03-14 13:17] ashwani-rathee commented on #85
@geekquad  What do you think?

[2021-03-14 13:41] captainra1 commented on #61
thanks for assigning me this issue.

[2021-03-14 14:10] Spidy-Coder opened #88 "Adding Decision Tree classification Algorithm build from scratch"
I have made a pure decision tree algorithm representation in python from scratch. This issue fixes following issues:-

- [x] No plagiarism

- [x] Build from scratch

- [x] Fully demonstrated with comments

- [x] Contains .ipnb format

- [x] Contains useful resources in that same .ipnb file for newbie references

### Link of my code repo that I will be adding after assigning this issue to me --->

[2021-03-14 16:25] harleenkaur76 commented on #71
@ashwani-rathee i am a gssoc participant and i would love to contribute to this project and would try my best to explain it in the best possible way

[2021-03-14 17:25] shraiyya opened #89 "KNN - Documentation"
I would like to add K-Nearest Neighbors algorithm documentation.
I am a GSSOC'21 participant

[2021-03-14 17:28] Simar05519 commented on #86
I want to work on this issue. Please assign to me

[2021-03-14 17:28] Simar05519 commented on #81
I want to work on this issue. Please assign to me

[2021-03-14 17:39] ritikasharma99 commented on #47
Hi!! I am GSSOC'21 participant and would like to implement the algorithm for neural network.

[2021-03-14 20:03] sal-glitch commented on #60
Hey @ashwani-rathee I have given PR for the previous task, if you don't mind can I be assigned this one so that I can start working asap?

[2021-03-15 03:54] ashwani-rathee commented on #66
#64 is ready

[2021-03-15 03:56] ashwani-rathee commented on #81
@Simar05519 This is only guidelines,not a issue..I have to update it,pls claim a unassigned issue

[2021-03-15 03:57] ashwani-rathee commented on #8
@Hamza3226 Do you want to work on this issue?

[2021-03-15 04:04] Simar05519 commented on #8
Please assign me some other issue so that I can work

On Mon, Mar 15, 2021 at 9:27 AM Ashwani Rathee ***@***.***>
wrote:

[2021-03-15 04:06] ashwani-rathee commented on #10
#11 is ready

[2021-03-15 04:08] ashwani-rathee commented on #17
@Sibasish-Padhy #75 is almost ready,but please update it to format it a little better

[2021-03-15 04:09] ashwani-rathee commented on #19
@SSHREYA71 What is your progress on this task?Any issues?

[2021-03-15 04:11] ashwani-rathee commented on #25
@ptnv-s What is your progress on this? Any issues? 2days for a PR

[2021-03-15 04:12] ashwani-rathee commented on #26
@ananyade2412 What is your progress on this? Any Issues? 2days for a PR

[2021-03-15 04:14] ashwani-rathee commented on #27
@sherin527 #77 Buddy,you are kind of stuck with this algorithm.How can I help?

[2021-03-15 04:16] ashwani-rathee commented on #29
@moyantri What is your progress on this?Any issues?
How can I help?

[2021-03-15 04:16] ashwani-rathee commented on #30
#64 is ready

[2021-03-15 04:24] ashwani-rathee commented on #34
@aakriti1318 #34 is almost ready,any help you need from my side?

[2021-03-15 04:26] ashwani-rathee commented on #35
@skybluee2001 What is your progress on this?Any issues?
How can I help?
2days to a PR

[2021-03-15 04:28] ashwani-rathee opened #91 "Principal Component Analysis - Documentation"
Task: Update the Readme.md to explain the process behind Principal Component Analysis  as well as you can
Level-1 : 10 Points

[2021-03-15 04:29] ashwani-rathee commented on #91
@Simar05519 Would you like to work on this?

[2021-03-15 04:32] Simar05519 commented on #91
OK, I can work on it.

On Mon, Mar 15, 2021 at 9:59 AM Ashwani Rathee ***@***.***>
wrote:

[2021-03-15 04:35] ashwani-rathee commented on #91
Sure @Simar05519  ,You have been assigned the task to create detailed documentation of Principal Component Analysis .
Please see the documentation guidelines first.
Try to submit a PR in 2 days.

[2021-03-15 04:37] Simar05519 commented on #91
Sure, will do that.

On Mon, Mar 15, 2021 at 10:05 AM Ashwani Rathee ***@***.***>
wrote:

[2021-03-15 04:40] ashwani-rathee commented on #36
Actually we are looking for code implementation,you can use a simple dataset to explain you ideas

@anjiii-18  What is your progress on this?Any issues?How can I help?
2days to a PR
#64 #11 #44 are good examples of proper implementation by your fellow participants

[2021-03-15 04:42] ashwani-rathee commented on #37
@Abhinaba006  #44  is almost ready

[2021-03-15 04:43] ashwani-rathee commented on #38
@AkanchhaBhadani What is your progress on this?Any issues?How can I help?
2days to a PR

[2021-03-15 04:44] ashwani-rathee commented on #39
@Rutikab12 #74 is not yet ready
What is your progress on this?Any issues?How can I help?
2days to a PR
#64 #11 #44 are good examples of proper implementation by your fellow participants

[2021-03-15 04:45] ashwani-rathee commented on #40
@dikshajoshi18 What is your progress on this?Any issues?How can I help?
2days to a PR

[2021-03-15 04:47] ashwani-rathee commented on #41
@ayush237  What is your progress on this?Any issues?How can I help?
2days to a PR

[2021-03-15 04:53] ashwani-rathee commented on #46
@JanhaviSoni  What is your progress on this?Any issues?How can I help?
2days to a PR

[2021-03-15 04:54] ashwani-rathee commented on #42
@simarjeet30  #76 is progressing but not yet ready
Any issues,How can I help?

[2021-03-15 04:55] ashwani-rathee commented on #47
@gopichandpuli9  What is your progress on this?Any issues?How can I help?
2days to a PR

[2021-03-15 04:57] gopichandpuli9 commented on #47
Work is in progress. I'll submit it by today.

[2021-03-15 05:02] Rutikab12 commented on #39
Yeah my new PR will be ready by today. One more thing, I was suppose to write the PCA module python code instead of importing it from sklearn , right?. @ashwani-rathee

[2021-03-15 05:03] ashwani-rathee commented on #49
@aanchalsethi #83 is almost ready to be merged

[2021-03-15 05:10] simarjeet30 commented on #42
mam i have imported numpy as np .sorry for these things .please have a look
now .Is there anything else needed

On Mon, Mar 15, 2021 at 10:24 AM Ashwani Rathee ***@***.***>
wrote:

[2021-03-15 05:40] aakriti1318 commented on #34
Yes, should I need to change anything?

[2021-03-15 05:43] sujoy-coder commented on #85
Hello @ashwani-rathee @geekquad ,
Any updates regarding this issue ?

[2021-03-15 06:06] #68 closed

[2021-03-15 06:14] divyanshu887 opened #92 "Ridge Regression-Documentation"
I want to work on the documentation of Ridge Regression algorithm. Can you assign it to me?
@ashwani-rathee

[2021-03-15 06:18] SSHREYA71 commented on #19
Yes I will create the PR today itself

[2021-03-15 07:18] #18 closed

[2021-03-15 07:32] ashwani-rathee commented on #92
Task : Create detailed documentation of the Ridge Regression ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-15 07:33] ashwani-rathee commented on #92
@divyanshu887  ,You have been assigned the task to create detailed documentation of Ridge Regression.
Try to submit a PR in 2 days.

[2021-03-15 07:59] JanhaviSoni commented on #46
@ashwani-rathee It will take me more time to work on implementation of Mulilayer Perceptron. Till that time can I be assigned Multiple Linear Regression and you could unassign Multilayer Perceptron.

[2021-03-15 08:07] dikshajoshi18 commented on #40
thanks for asking! I m working on it...will update soon

[2021-03-15 08:51] ashwani-rathee commented on #70
Task: Set up the basic DBSCAN code functionality that works
Level-3 : 25 Points

[2021-03-15 08:52] ashwani-rathee commented on #70
@aanchalsethi You have been assigned the task to setup the base for  DBSCAN.
Try to submit a PR in 5 days.

[2021-03-15 08:59] aanchalsethi commented on #70
sir, i have created the PR. Please let me know if I need to make any changes to it.

[2021-03-15 09:42] #10 closed

[2021-03-15 10:26] skybluee2001 commented on #35
@ashwani-rathee I have chosen a dataset to explain the implementation of the code. I will submit the PR by 17th March.

[2021-03-15 10:27] anjiii-18 commented on #36
@ashwani-rathee I have chosen a dataset to explain the implementation of the code. I will submit the PR by 17th March.

[2021-03-15 10:51] divyanshu887 commented on #92
@ashwani-rathee
Done
Check the pr Ref (#64)

[2021-03-15 14:14] yashkumar7889 commented on #89
Hello, I am a GSSOC'21 participant. I would like to add documentation for K-Nearest Neighbors Algorithm along with the code.

[2021-03-15 14:34] ananyade2412 commented on #26
Hello @ashwani-rathee. I'm working on the issue, sir.

[2021-03-15 15:47] hritikchaturvedi11 commented on #71
@ashwani-rathee kindly assigned the issue as I can submit the pr.

[2021-03-15 16:03] sakshi012000 commented on #38
Hello, I'm a GSSOC'21 participant and would like to contribute to this project. Please assign me this

[2021-03-15 17:29] ptnv-s commented on #25
@ashwani-rathee
I have worked on the linear kernel svm and is working fine giving accuracy of 88.9% on titanic dataset
However, I was trying to work on writing code in which we have option to use different kernels in same SVM.
![Screenshot from 2021-03-15 22-58-42](https://user-images.githubusercontent.com/72119231/111195234-0e108980-85e2-11eb-9e96-e16688f23883.png)

[2021-03-16 03:35] ashwani-rathee commented on #89
Task : Create detailed documentation of the K-Nearest Neighbors ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-16 03:36] ashwani-rathee commented on #89
Sure @shraiyya  ,You have been assigned the task to create detailed documentation of K-Nearest Neighbors.
Try to submit a PR in 2 days.

[2021-03-16 03:37] ashwani-rathee commented on #86
Task : Create detailed documentation of the Naive Bayes ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-16 03:38] ashwani-rathee commented on #86
Sure @aishwaryachand  ,You have been assigned the task to create detailed documentation of Naive Bayes.
Try to submit a PR in 2 days.

[2021-03-16 03:39] ashwani-rathee commented on #73
Task : Create detailed documentation of the SVM ML algorithm by updating readme.md
Level-1 : 10 points

[2021-03-16 03:39] ashwani-rathee commented on #73
Sure @SNIGDHA2654 ,You have been assigned the task to create detailed documentation of SVM.
Try to submit a PR in 2 days.

[2021-03-16 03:41] ashwani-rathee commented on #60
Sure @sal-glitch  ,You have been assigned the task to create detailed documentation of  Elastic Net.
Try to submit a PR in 2 days.

[2021-03-16 05:36] ayush237 commented on #41
@ashwani-rathee  Hi . Its almost done, no issues yet. I will pull up the PR by tonight

[2021-03-16 07:43] skybluee2001 commented on #35
@ashwani-rathee I have created a PR; kindly review it.
Pull request #99

[2021-03-16 08:39] anjiii-18 commented on #36
I have submitted the task. Kindly review my PR.

[2021-03-16 08:45] anjiii-18 commented on #36
@ashwani-rathee Please review my pull request #100.

[2021-03-16 08:53] skybluee2001 commented on #35
@ashwani-rathee I have added my file in the .py format. Kindly review it.

[2021-03-16 09:50] AkanchhaBhadani commented on #38
I don't have any issue. Would be sending a PR today.

[2021-03-16 13:28] #92 closed

[2021-03-16 13:28] #66 closed

[2021-03-16 13:32] #30 closed

[2021-03-16 16:50] divyanshu887 opened #104 "Genetic Algoritm Documentation"
I want to work on the documentation of Genetic Regression algorithm. Can you assign it to me?
@ashwani-rathee

[2021-03-16 17:49] spsrathor opened #105 "Implementing Linear Regression from Scratch"
There is no code of Linear Regression in its folder. I want to implement Linear Regression from Scratch.

Please assign this issue to me.

I am also member of GSSOC'21

[2021-03-16 17:52] Abheeshth opened #106 "Implementing Logistic Regression from Scratch"
There is no code and documentation of Logistic Regression in its folder. I want to implement the same from Scratch.
Please assign this issue to me.

I am also member of GSSOC'21

[2021-03-16 17:55] Abheeshth opened #107 "Adding code to Multilayer perceptron"
There is no code of Multilayer perceptron, I wanna implement same from Scratch.

I am also member of GSSOC'21

In anticipation of positive response.

[2021-03-16 18:12] vedantagarwal4 commented on #105
Hi ,
Could you please assign this issue to me? I will implement linear regression and provide the documentation as well.
I am a member of GSSOC'21.

[2021-03-16 18:34] sal-glitch commented on #60
@ashwani-rathee Yes thank you! Will give a PR within 2 days!

[2021-03-16 19:19] sahilempire opened #108 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will **update contributor list** in README.md **automatically** !! Will start to work on this issue **as soon as I get assigned !**

Thank You.

[2021-03-16 21:49] #58 closed

[2021-03-17 07:55] sanyadeveloper2000 commented on #54
Hey I would like to work on this issue. I have experience in technical writing. Pls assign me this task.
Thanks

[2021-03-17 09:35] geekquad commented on #108
Hey @sahilempire, there is no need for it right now.  Will let you know. Thankyou.

[2021-03-17 09:35] #108 closed

[2021-03-17 17:05] aayushi1908 commented on #91
Hello.
I'm a GSSOC'21 participant and I want to work on this issue.

[2021-03-17 17:07] aayushi1908 commented on #107
Hello.
I'm Aayushi, a GSSOC'21 participant and I want to work on this issue.

[2021-03-17 18:19] SSHREYA71 commented on #19
@ashwani-rathee  I had created the PR two days back itself, please look into

[2021-03-18 08:53] #37 closed

[2021-03-18 10:39] Sibasish-Padhy commented on #107
hello,I'm Sibasish ,a GSSOC'21 participant and I would like to contribute to this issue

[2021-03-18 11:17] Aditi1010 commented on #105
Hi,
Could you assign this issue to me? I am a part of GSSOC 21. I will solve the problem at the earliest.

[2021-03-18 12:44] Spidy-Coder commented on #88
Hello,

I haven't got any reply for my issue. So, kindly look into it. I want to contribute my decision tree classifier to this repo. It will a value addition if it will happen. Thank you :)

[2021-03-18 16:10] asimaries commented on #42
I would Like to work on this issue

[2021-03-18 16:14] asimaries commented on #69
I would like to work on this Issue

[2021-03-18 16:16] ashwani-rathee commented on #42
@asimaries You have been assigned the task to setup the base for Random Forest .
Try to submit a PR in 5 days.

[2021-03-19 04:28] ashwani-rathee commented on #17
Good work @Sibasish-Padhy

[2021-03-19 04:28] #17 closed

[2021-03-19 04:35] rakshakannu opened #114 "Cross Validation from scratch"
There is no code for cross validation in the repository. I would like to provide code for the implementation of all types of cross validation methods.

I would love to work on this issue! please assign this to me. Thanks in advance!

[2021-03-19 04:37] skybluee2001 commented on #35
@ashwani-rathee, I have updated the code. Kindly review it.

[2021-03-19 04:42] anjiii-18 commented on #36
@ashwani-rathee I updated the code, kindly review it.

[2021-03-19 09:23] SNIGDHA2654 commented on #39
I would like to work on this issue. I am a gssoc participant. Please assign it to me.

[2021-03-19 09:27] SNIGDHA2654 commented on #42
@ashwani-rathee I would like to work on this issue. I am a gssoc participant. Kindly, assign it to me.

[2021-03-19 09:29] SNIGDHA2654 commented on #8
I would like to work on this issue. I am a gssoc participant.

[2021-03-19 11:15] #104 closed

[2021-03-20 01:31] ashwani-rathee commented on #8
@SNIGDHA2654,You have been assigned the task to write Decision Tree code base functionality that works.
Try to submit a PR in 5 days.

[2021-03-20 01:46] ashwani-rathee commented on #19
#93 is clear

[2021-03-20 01:48] ashwani-rathee commented on #25
#103 is not ready but @ptnv-s is still working on it.

[2021-03-20 01:50] ashwani-rathee commented on #26
@ananyade2412 No PRs,this is to to be assigned again.

[2021-03-20 02:01] ashwani-rathee commented on #27
#55 Needs to reassigned most prolly

[2021-03-20 02:02] ashwani-rathee commented on #29
@moyantri No PRs,this needs to be reassigned again

[2021-03-20 02:04] ashwani-rathee commented on #32
Need to create another folder for Gradient Boost

[2021-03-20 02:04] #32 closed

[2021-03-20 02:19] ashwani-rathee commented on #33
@dikshajoshi18 Any updates?

[2021-03-20 02:21] ashwani-rathee commented on #34
#34 is clear from my side,let's see how it turns out

[2021-03-20 02:45] jprakash-1 commented on #46
@ashwani-rathee I am Gssoc participant can u assign me Multilayer Perceptron.

[2021-03-20 03:40] sakshi012000 commented on #29
I am a GSSoC participant . Can you assign me this?

[2021-03-20 04:29] Aj7t commented on #105
Hello, I am a part of GSSOC'21.
Could you assign this issue to me?  I will implement a Linear Regression from Scratch at the earliest.🚀

[2021-03-20 04:31] Aj7t commented on #106
🚀hello, I am a member if Gssoc'21. plz assign me this issue, I do it  from scratch as earliest as possible

[2021-03-20 04:38] skybluee2001 commented on #71
Hii...I am a GSSOC'21 participant, and I would like to work on this issue. Kindly assign me this issue.

[2021-03-20 04:40] skybluee2001 commented on #69
Hii...I am a GSSOC'21 participant, and I would like to work on this issue. Please assign this issue to me.

[2021-03-20 04:44] skybluee2001 commented on #26
Hii...I am a GSSOC'21 participant, and I would like to work on this issue. Please assign this issue to me.

[2021-03-20 05:18] sakshi012000 commented on #27
I am a GSSoC participant, Can you please assign me this issue?

[2021-03-20 06:12] namaannn opened #117 "Update Naive Bayes Documentation"
Some of the major details regarding algorithm were missing as the main concept from which the algorithm is derived is not clearly understandable in the documentation and other tweaks are required in the documentation.

I want to raise this issue for Gssoc 2021.

[2021-03-20 06:15] jaimehta1912 commented on #117
i want to work on this issue .
I am a gssoc  2021 participant and have a deep knowledeg of ml
Kindly assign me this issue

[2021-03-20 06:16] jaimehta1912 commented on #117
@anubhavitis @SatYu26 @dheerajkotwani

[2021-03-20 06:18] namaannn commented on #117
@anubhavitis @SatYu26 @dheerajkotwani
Kindly label this issue for Gssoc 2021

[2021-03-20 06:28] jaimehta1912 commented on #86
@ashwani-rathee It's already 2 days .Can you please assign me this issue I have already made readme.md file for Naiye Bayes .Kindly assign me this issue .I am a Gssoc 2021 participant .I will make sure. I will make sure a PR for documentation of naive Bayes will be in the upcoming 2 Hours

[2021-03-20 06:29] aishwaryachand commented on #86
I am almost done.I will make a PR by today.

[2021-03-20 06:58] Simar05519 commented on #29
I want to work on this issue. Please assign to me

[2021-03-20 06:59] Simar05519 commented on #26
Please assign this issue to me

[2021-03-20 08:01] SatYu26 commented on #117
Hello, I am also a Gssoc 21 applicant itself. please tag admins they might help.

[2021-03-20 08:27] jaimehta1912 commented on #117
@SatYu26  sir can you please tell who are the admins ?

[2021-03-20 12:43] SatYu26 commented on #117
sorry I am not familiar with admins.

[2021-03-20 16:30] asimaries commented on #42
actually some has already updated the readme file so I have to Implement it on that bases or make my own readme?
#98 is already merged

[2021-03-20 17:49] guptaa98 commented on #91
I'm a Gssoc'21 participant.
Can i work on this issue?

[2021-03-20 18:32] skybluee2001 commented on #35
@ashwani-rathee, I have updated the code. Kindly review it. Let me know if any further modifications are required.

[2021-03-20 19:24] anjiii-18 commented on #36
@ashwani-rathee Kindly see if the code is correct.

[2021-03-21 10:59] Sibasish-Padhy commented on #39
@ashwani-rathee  I would like to work on this project can you assign this to me

[2021-03-21 11:42] surbhi2408 opened #120 "Support Vector Machine - Documentation"
I would like to add Support Vector Machine algorithm documentation.
I am a GSSOC'21 participant.

[2021-03-21 15:27] neha07kumari commented on #89
Hey!! I'm a GSSOC"21 participant. Please assign me this issue . I would like to contribute to it.
@ashwani-rathee

[2021-03-21 15:29] neha07kumari commented on #54
Hey!! I would like to work on the documentation of the Decision Tree. I am a GSSOC21 participant. Please assign me this issue. @ashwani-rathee

[2021-03-22 06:49] sakshi012000 opened #121 "Clustering Documentation"
@ashwani-rathee I am a GSSoC participant. I want to make documentation in clustering in machine learning. Please assign me this.

[2021-03-22 08:40] pragyangra commented on #105
Greetings! As a participant of GSSOC'21 I want to contribute to this issue of the project. Can you please assign this to me?

[2021-03-22 08:52] AasthaCodex opened #122 "Gradient Descent Documentation"
I would like to add Gradient Descent documentation. Please, assign it to me.

[2021-03-22 08:55] AasthaCodex opened #123 "Activation Function Documentation"
I would like to add Activation Function Documentation, Please assign it to me.

[2021-03-22 12:00] kad99kev opened #124 "Hidden Markov Models - Implementation"
Hello! I am a GSSOC'21 participant and I would like to implement a Hidden Markov Model from scratch. Do let me know if it is a suitable addition to the project!

[2021-03-22 15:07] jprakash-1 commented on #106
Hello, I am Gssoc'21 participant. Please assign me this issue.

[2021-03-22 15:10] jprakash-1 commented on #26
Hello, I am a GSSOC'21 participant, please assign this issue to me.

[2021-03-22 17:28] ashwani-rathee commented on #34
This can be successfully closed now

[2021-03-22 17:28] #34 closed

[2021-03-22 17:35] ashwani-rathee commented on #35
#99 is almost ready

[2021-03-22 17:40] ashwani-rathee commented on #36
#100 is almost ready

[2021-03-22 17:43] ashwani-rathee commented on #38
#102 is ready

[2021-03-22 17:43] ashwani-rathee commented on #39
Needs to be reassigned

[2021-03-22 17:43] ashwani-rathee commented on #39
@Sibasish-Padhy want to take it up?

[2021-03-22 18:00] ashwani-rathee commented on #40
#119 is not ready

[2021-03-22 18:07] ashwani-rathee commented on #41
#125 is not ready

[2021-03-22 18:09] ashwani-rathee commented on #42
@asimaries You are supposed to write the base code only with test of checking it properly

[2021-03-22 18:11] ashwani-rathee commented on #46
@jprakash-1 would you like to get this assigned?

[2021-03-22 18:17] ashwani-rathee commented on #47
this needs to be reassigned

[2021-03-22 18:18] ashwani-rathee commented on #49
Merged

[2021-03-22 18:18] #49 closed

[2021-03-22 18:19] ashwani-rathee commented on #50
Merged

[2021-03-22 18:19] #50 closed

[2021-03-22 18:20] ashwani-rathee commented on #54
@sanyadeveloper2000 @neha07kumari This issue has already been resolved by @aishwaryachand  and merged too,please claim new issues

[2021-03-22 18:20] #54 closed

[2021-03-22 18:22] ashwani-rathee commented on #56
Merged

[2021-03-22 18:22] #56 closed

[2021-03-22 18:22] ashwani-rathee commented on #59
Merged

[2021-03-22 18:22] #59 closed

[2021-03-22 18:27] ashwani-rathee commented on #105
@spsrathor @Aditi1010 @pragyangra @vedantagarwal4 @Aj7t This has already been implemented both base and documentation,you can work toward improving them :)

[2021-03-22 18:27] #105 closed

[2021-03-22 18:27] ashwani-rathee commented on #106
Similarly possible duplicate

[2021-03-22 18:29] ashwani-rathee commented on #107
@Abheeshth do you wish to take this up?

[2021-03-22 18:30] ashwani-rathee commented on #107
#46 Duplicate

[2021-03-22 18:31] ashwani-rathee commented on #114
@geekquad Do we need this?

[2021-03-22 18:33] ashwani-rathee commented on #117
#86 duplicate

[2021-03-22 18:35] ashwani-rathee commented on #120
#73 Duplicate

[2021-03-22 18:35] ashwani-rathee commented on #121
@geekquad Do we need this?

[2021-03-22 18:36] ashwani-rathee commented on #122
@geekquad I think we don't any specific folders for this other than the stochastic gradient descent one,where does it go?Is it required

[2021-03-22 18:36] ashwani-rathee commented on #123
@geekquad Is it required?

[2021-03-22 18:37] ashwani-rathee commented on #124
@geekquad What do you think about this idea?I like it

[2021-03-22 18:38] surbhi2408 commented on #73
It's already been more than 2 days @ashwani-rathee please if you could assign this task to me. I am also a GSSoC'21 participant.

[2021-03-22 18:40] ashwani-rathee commented on #73
@surbhi2408 It's clear from my side, we are now waiting for admin's decision on merging

[2021-03-22 20:00] vaishnavipatil29 opened #126 "Principal Component Analysis code from scratch"
Hello! I am a GSSOC'21 participant and I would like to implement a Principal Components Analysis code from scratch. Please assign me the issue.

[2021-03-22 20:26] #123 closed

[2021-03-22 20:35] #122 closed

[2021-03-22 22:10] jaimehta1912 commented on #124
@ashwani-rathee kindly assign me this issue I want to work on it

[2021-03-22 22:12] jaimehta1912 commented on #86
@ashwani-rathee  I want to add some more  information in naive Bayes .kindky assign me the issue

[2021-03-22 23:23] aishwaryachand commented on #39
hey can I work on this issue . I am a GSSOC21' participant . @ashwani-rathee

[2021-03-22 23:31] aishwaryachand commented on #47
Hey, can I work on this issue . I will show the implementation of both forward propagation and backward propagation without using  any of the external libraries.

[2021-03-23 01:34] ashwani-rathee commented on #126
#39 Duplicate

[2021-03-23 03:42] jprakash-1 commented on #46
Yes, @ashwani-rathee  I would like to work on this. Could you please tell me how many hidden layers do I have to implement? And any other relevant detail I need, to implement this?

Thank you

[2021-03-23 04:21] aman503 opened #129 "Catboost Documentation"
A grading boosting algorithm in which I want to contribute. Please assign this to me

[2021-03-23 04:23] aman503 commented on #129
@ashwani-rathee @geekquad assign this issue to me

[2021-03-23 05:23] Amit366 commented on #26
Please assign it to me.

[2021-03-23 07:08] geekquad commented on #85
Hey @sujoy-coder, assigning you with the same.

[2021-03-23 07:09] geekquad commented on #114
Assigning you with the same @rakshakannu.

[2021-03-23 07:14] geekquad commented on #124
Assigning you with the same @kad99kev.

[2021-03-23 07:26] geekquad commented on #121
Hey @sakshi012000, which clustering method are you willing to document?

[2021-03-23 07:45] sujoy-coder commented on #85
Okay @geekquad, I am started working on it.

Thank You :)

[2021-03-23 07:50] sakshi012000 commented on #121
@geekquad  I will prefer partitioning methods. I can do any other also as per your preference.

[2021-03-23 09:38] sujoy-coder commented on #85
Hey @geekquad My idea is :

- create a new folder in ROOT DIRECTORY and named it `Preprocessing`
- inside that create `new python file`
- then the code will be inside that python file ( OOPs and python Class)

May I continue in that way ?
Please let me know for any other procedure

[2021-03-23 12:47] sakshi012000 commented on #29
@ashwani-rathee  can you please assign me this issue. I can send the PR as soon as possible.
Thank you

[2021-03-23 14:17] Dishita2602 opened #130 "Feature Selection Techniques"
I would be explaining and code feature selection using information gain, fisher's score, correlation coefficient, chi- square test, variance threshold and many more. I have GSSOC'21 participant and would like to contribute to this issue..

[2021-03-23 15:29] goelesha commented on #26
@ashwani-rathee Please assign this issue to me

[2021-03-23 15:29] goelesha commented on #29
Please assign this issue to me

[2021-03-23 15:31] goelesha commented on #89
Pls assign this issue to me

[2021-03-23 15:34] asimaries commented on #42
I have made a PR, please review it #128

[2021-03-23 17:13] rakshakannu commented on #114
Since there is no dedicated folder for Cross validation in the Repo, do I create one on my branch or will you add it? 😁

[2021-03-23 17:19] AkhileshThite opened #131 "Hierarchical Clustering: Counting the number of clusters from dendrogram"
GSSoC 21':
I would like to add simple explanation with images (created by me) of Hierarchical Clustering, that'll explain how to "count" the number of clusters from dendrogram. Kindly assign me the issue :)
Thank you!

[2021-03-24 04:05] anonymous17022000 opened #133 "Simple Classification using RNN"
Hi! I am a GSSOC'21 participant and I would like to implement a simple classification algorithm using RNN from scratch. Please let me know if it would be a valuable addition to the project. Thank You.

[2021-03-24 07:11] Tarun-Kamboj opened #135 "AutoEncoders - Documentation"
I'm a gssoc21 participant and would like to add this in your repo.

[2021-03-24 11:09] surbhi2408 commented on #71
@ashwani-rathee I would like to contribute could you please assign me this task. I am a GSSoC'21 participant.

[2021-03-24 11:11] surbhi2408 commented on #67
@ashwani-rathee I want to contribute to this issue if this has not been done yet. I am a GSSoC'21 Participant.

[2021-03-25 13:26] Abheeshth commented on #107
yes I wanna take this up

[2021-03-25 13:31] Abheeshth commented on #26
Hello, I am a GSSOC'21 participant Can I work on this issue??

[2021-03-25 13:32] Abheeshth commented on #107
yes I wanna take this up

[2021-03-25 15:22] mgncodes opened #136 "AdaBoost Algorithm for Regression"
Hi, I'm a GSSoC Participant and I want to contribute the code for Adaboost Algorithm for regression problem. I assure that I'll submit my PR in time. It'd be very helpful if this issue is assigned to me.
Thanks!
@ashwani-rathee

[2021-03-25 15:26] mgncodes opened #137 "Readme for Apriori Algorithm"
Hi, I'm a GSSoC Participant, and I saw that the Readme file for Apriori Algorithm is empty. I want to contribute for this issue. It would be helpful if this issue is assigned to me.
Thanks!
@ashwani-rathee

[2021-03-25 15:32] mgncodes opened #138 "Multiple Linear Regression - Base"
Hi, I'm a GSSoC Participant and I want to contribute the codebase for Multiple Linear Regression in Python. Kindly assign me this issue. I assure that I'll submit the PR in time.
Thanks!
@geekquad
@ashwani-rathee

[2021-03-26 04:12] Charanjeev-2k2 commented on #69
Hi @ashwani-rathee I am eager to contribute to this issue. Kindly assign it to me.

[2021-03-26 04:15] Sibasish-Padhy commented on #46
@ashwani-rathee I would like to contribute to this issue cn you please assign me this issue under gssoc label

[2021-03-26 04:16] Sibasish-Padhy commented on #26
@ashwani-rathee I am a gssoc 21 participant .Can i work on this issue

[2021-03-26 04:43] Sibasish-Padhy opened #139 "Batch-gradient decent"
A very helpful optimization technique that is quite time efficient and even reduces space complexity. It proves to come in quite handy when the gradient descent  seems to have a relatively fast learning rate or follows non convex optimization. I would like to code the optimization technique and prepare a well documented readme file for it explaining it in detail. Please assign this issue to me und

[2021-03-26 04:45] Sibasish-Padhy commented on #139
@ashwani-rathee can you please assign this issue to me under the label of gssoc 21

[2021-03-26 05:54] geekquad commented on #131
Assigning you with the same @AkhileshThite

[2021-03-26 05:59] AkhileshThite commented on #131
Thank you :)

[2021-03-26 07:50] ashwani-rathee commented on #19
Merged

[2021-03-26 07:50] #19 closed

[2021-03-26 07:52] ashwani-rathee commented on #26
@Abheeshth  You have been assigned the task to setup the base for K Nearest Neighbours.
Try to submit a PR in 5 days.

[2021-03-26 07:53] ashwani-rathee commented on #27
Needs to be reassigned

[2021-03-26 07:54] ashwani-rathee commented on #29
@goelesha You have been assigned the task to setup the base for Bayesian Regression.
Try to submit a PR in 5 days.

[2021-03-26 07:55] ashwani-rathee commented on #33
No updates,so this needs to be reassigned

[2021-03-26 07:57] ashwani-rathee commented on #35
Ready

[2021-03-26 07:59] ashwani-rathee commented on #73
Merged

[2021-03-26 07:59] #73 closed

[2021-03-26 08:27] dikshajoshi18 commented on #33
Sir actually I m facing issues in my laptop hardware.
Please extend the timeline.
I will do it surely by month end.

On Fri, 26 Mar, 2021, 1:25 PM Ashwani Rathee, ***@***.***>
wrote:

[2021-03-26 08:47] Abheeshth commented on #26
Thanks @ashwani-rathee  I will try my best to submit a PR in 5 days

[2021-03-27 08:08] surbhi2408 opened #142 "Gaussian Mixture Model - Documentation"
I'm a gssoc'21 participant and would like to add this in your repo.
@geekquad @ashwani-rathee Please assign this issue to me.

[2021-03-27 09:48] earnsans commented on #33
@ashwani-rathee, hi I am a GSSOC'21  participant. I want to contribute to this issues. I have a pretty good knowledge about LOWESS regression. Can you please assign this issue to me.  I'll be using this [paper](http://home.eng.iastate.edu/~shermanp/STAT447/Lectures/Cleveland%20paper.pdf) for reference.

[2021-03-28 12:14] ashwani-rathee commented on #142
Please create a separate folder for this task.
You are assigned the task to create codebase for Gaussian Mixture Model

[2021-03-28 13:08] Tarun-Kamboj commented on #135
@geekquad @ashwani-rathee  *Please assign this issue to me.*

[2021-03-28 14:17] #86 closed

[2021-03-28 16:33] surbhi2408 commented on #142
Thank you for assigning.

[2021-03-28 19:09] #107 closed

[2021-03-28 19:09] #106 closed

[2021-03-29 11:44] Amit366 commented on #27
@ashwani-rathee Naive Bayes - Base means adding a model of Naive Bayes with dataset??

[2021-03-29 16:25] ashwani-rathee commented on #138
@mgncodes Task assigned to contribute codebase for Multiple Linear Regression

[2021-03-30 07:51] Sibasish-Padhy commented on #139
thank you sir will try to make a pr as soon as possible but require more days sir.it is a request

[2021-03-30 09:28] shivangi-pandey opened #146 "Random Forest algorithm"
Hello, I would  like to add this algorithm in your code repository.
Please assign this to me

[2021-03-30 11:22] Ishan-Tewari commented on #89
Hey! I'm a GSSOC 21 participant. I would like to contribute to this issue.

[2021-03-30 11:56] Ishan-Tewari opened #147 "Adding code to K-Nearest Neighbours Folder"
Hey, I am a GSSOC 21 participant and I would like to add code for K-Nearest Neighbours implementation.

[2021-03-30 12:08] Ishan-Tewari commented on #27
Hey, I'm a GSSOC 21 participant, would you please assign this to me. I have already been working on it and I am ready with the code.

[2021-03-30 13:22] Amit366 commented on #27
@ashwani-rathee can I work??

[2021-03-30 16:22] ashwani-rathee commented on #147
Duplicate of  #26 .Please claim the task there

[2021-03-30 16:22] #147 closed

[2021-03-30 16:26] #146 closed

[2021-03-30 16:26] ashwani-rathee commented on #139
Sure @Sibasish-Padhy

[2021-03-30 17:17] mgncodes commented on #138
How many days can I take to resolve this issue?
@ashwani-rathee

[2021-03-31 10:51] geekquad commented on #33
Assigning this to @earnsans.

[2021-04-01 03:37] ELITA04 commented on #39
@ashwani-rathee
Hi, if this issue is still unassigned can I take it up?
Thank you.

[2021-04-01 18:35] earnsans commented on #33
Good evening sir,
 thank you for assigning this issue
<https://github.com/Algo-Phantoms/Algo-ScriptML/issues/33?_pjax=%23js-repo-pjax-container>
to
me.
 Could you please let me know the deadline for this ?

Yours sincerely,
Sanskrati Gupta

On Wed, 31 Mar 2021 at 16:22, Aditya Kumar Gupta ***@***.***>
wrote:

[2021-04-03 07:06] #135 closed

[2021-04-05 06:18] Dishita2602 commented on #114
I will like to work on this issue.

[2021-04-05 16:22] einhawking commented on #142
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:24] einhawking commented on #139
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:24] einhawking commented on #138
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:24] einhawking commented on #114
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:24] einhawking commented on #89
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #65
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #61
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #47
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #42
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #41
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:25] einhawking commented on #38
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:26] einhawking commented on #29
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:26] einhawking commented on #27
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:26] einhawking commented on #26
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-06 10:33] ashwinraj-in opened #151 "Complete Program and Documentation for Naive Bayes"
I wish to implement the Naive Bayes algorithm for Classification include the mathematics and all the details behind it. I have previously written a detailed blog explaining the entire algorithm and how Naive Bayes works under the hood.

Link to the article: https://towardsdatascience.com/the-not-so-naive-bayes-b795eaa0f69b
Can you please assign me this? Open to further discussions regarding this.

[2021-04-09 11:52] aanchalsethi commented on #65
May i work on this issue now?

[2021-04-12 19:07] saumyasinghz commented on #46
@ashwani-rathee Please assign this issue to me.

[2021-04-12 19:11] saumyasinghz commented on #26
@ashwani-rathee
Hi, if this issue is still unassigned can I take it up?
Thank you.

[2021-04-12 19:12] saumyasinghz commented on #39
@ashwani-rathee
I am a participant GSSOC'21
I would like to contribute to this

[2021-04-14 14:00] vinc3nati opened #154 "Dimensionality Reduction Algorithm"
I would like to contribute a proper implementation with python of  Dimensionality Reduction Algorithm with proper documentation and well explained steps.

[2021-04-14 14:26] ashwani-rathee commented on #25
#103 still in progress

[2021-04-14 14:27] ashwani-rathee commented on #26
@saumyasinghz Sure go ahead

[2021-04-14 14:28] ashwani-rathee commented on #27
@einhawking If you would like to work on this,sure go ahead

[2021-04-14 14:58] ashwani-rathee commented on #33
#152 is a work in progress

[2021-04-14 15:01] ashwani-rathee commented on #35
Merged

[2021-04-14 15:01] #35 closed

[2021-04-14 15:10] ashwani-rathee commented on #36
Merged

[2021-04-14 15:10] #36 closed

[2021-04-14 15:14] ashwani-rathee commented on #38
Merged

[2021-04-14 15:14] #38 closed

[2021-04-14 15:16] ashwani-rathee commented on #39
@ELITA04 Would you like to take this up and continue on the work?

[2021-04-14 15:18] ashwani-rathee commented on #40
Needs to be reassigned

[2021-04-14 15:20] ashwani-rathee commented on #41
@asimaries would you like to take this up?

[2021-04-14 15:21] ashwani-rathee commented on #42
Merged

[2021-04-14 15:21] #42 closed

[2021-04-14 15:22] ashwani-rathee commented on #46
This needs to be assigned

[2021-04-14 15:23] ashwani-rathee commented on #47
@aishwaryachand Would you like to take this up?

[2021-04-14 15:24] ayush237 commented on #41
@ashwani-rathee I have already updated the PR 4 days back regarding decision tree.. kindly check

[2021-04-14 15:25] ashwani-rathee commented on #60
#109 is ready to be merged

[2021-04-14 15:25] ashwani-rathee commented on #61
Merged

[2021-04-14 15:25] #61 closed

[2021-04-14 15:26] #62 closed

[2021-04-14 15:27] ashwani-rathee commented on #65
@aanchalsethi would you like to take this up?

[2021-04-14 15:30] ashwani-rathee commented on #70
#95 is still work in progress

[2021-04-14 15:31] #120 closed

[2021-04-14 15:31] #126 closed

[2021-04-14 15:31] #117 closed

[2021-04-14 15:31] #81 closed

[2021-04-14 15:31] #80 closed

[2021-04-14 15:31] #79 closed

[2021-04-14 15:33] ashwani-rathee commented on #71
@surbhi2408 would you like to take this up?

[2021-04-14 15:34] ashwani-rathee commented on #154
@vinc3nati Which dimensionality reduction algorithm? Can you name specific algorithm?
Since there are several of them :)

[2021-04-14 15:35] ayush237 commented on #41
@ashwani-rathee please check here h: ttps://github.com/Algo-Phantoms/Algo-ScriptML/pull/153#issuecomment-819606592

[2021-04-14 15:36] ashwani-rathee commented on #151
@ashwinraj-in This is a duplicate of #27 please get the issue assigned there

[2021-04-14 15:36] #151 closed

[2021-04-14 15:39] aanchalsethi commented on #65
yes sure sir!

[2021-04-14 15:39] ELITA04 commented on #39
@ashwani-rathee, Yes I'd like to.

[2021-04-14 15:39] ashwani-rathee commented on #142
No updates on this,this needs to be reassigned

[2021-04-14 15:40] surbhi2408 commented on #71
Yes, sure

[2021-04-14 15:42] ashwani-rathee commented on #139
No progress on this,needs to be reassigned

[2021-04-14 15:43] ashwani-rathee commented on #138
@mgncodes Yeah it should be like module

[2021-04-14 15:44] ashwani-rathee commented on #137
@mgncodes Would you like to take this up?

[2021-04-14 15:44] ashwani-rathee commented on #136
duplicate and already merged :)

[2021-04-14 15:44] #136 closed

[2021-04-14 15:45] ashwani-rathee commented on #133
@geek-quad we need this?

[2021-04-14 15:47] ashwani-rathee commented on #130
@Dishita2602 Can you be more specific on which feature selection algorithms you wish to use?

[2021-04-14 15:48] ashwani-rathee commented on #129
@geekquad Do we need this?

[2021-04-14 15:48] ashwani-rathee commented on #124
#134 is a work in progress

[2021-04-14 15:50] ashwani-rathee commented on #121
No progress on this

[2021-04-14 15:51] ashwani-rathee commented on #114
No progress on this,needs to be reassigned

[2021-04-14 15:52] ashwani-rathee commented on #91
@guptaa98 Would you like to take this up?

[2021-04-14 15:53] ashwani-rathee commented on #89
@Ishan-Tewari Would you like to take this up?

[2021-04-14 15:54] ashwani-rathee commented on #88
Needs to be reassigned

[2021-04-14 15:55] Dishita2602 commented on #114
I will like to work

[2021-04-14 15:58] guptaa98 commented on #91
@ashwani-rathee yes I would like to work on this issue.

[2021-04-14 16:07] mgncodes commented on #137
Yes, I am willing to resolve this issue.

[2021-04-14 17:18] vinc3nati commented on #154
I planned on providing a overall compact documentation of the dimensionality reduction algorithm with diagrams and all.
Then implementing either of the following with proper format:
- Principal Component Analysis (PCA)
- Linear Discriminant Analysis (LDA)
- Generalized Discriminant Analysis (GDA)

[2021-04-14 18:46] asimaries commented on #41
sure

[2021-04-14 18:55] ayush237 commented on #41
sorry, but I have already done it 6 days ago. https://github.com/Algo-Phantoms/Algo-ScriptML/pull/153# (my PR is not reviewed yet)

[2021-04-14 22:22] aishwaryachand commented on #47
yes, I would like to work on this .

[2021-04-15 04:28] Sibasish-Padhy commented on #139
@ashwani-rathee  sir I am working on it my laptop was damaged needed to be repaired .hence it took a week.please sir understand the situation i will try to make a pr by  monday if possible

[2021-04-15 04:28] Sibasish-Padhy commented on #139
please reassign me this issue sir @ashwani-rathee sir

[2021-04-15 04:37] Sibasish-Padhy commented on #139
I have already started working on it

[2021-04-15 06:25] utkarshxy commented on #88
Would like to work on this issue asap. Kindly assign, please.
Gssoc21'

[2021-04-15 11:26] vinc3nati commented on #154
Hey so I've decided to go with LDA and I want to contribute it's documentation + code implementation (python).
Can you assign me this ??

[2021-04-15 13:09] vinc3nati commented on #142
Hey if permitted I am ready to take up this issue as I have pretty good knowledge about Gaussian Mixture Model.

[2021-04-15 18:44] aabhapingle commented on #89
@ashwani-rathee Hi! I am a GSSOC 21 participant. I would like to contribute to this issue.

[2021-04-16 05:03] aman503 opened #156 "LightGBM documentation"
I want to contribute in this issue. Please assign to me
@geekquad @ashwani-rathee

[2021-04-16 05:04] #156 closed

[2021-04-16 05:04] aman503 commented on #156
By mistake I opened

[2021-04-16 05:08] Simar05519 opened #157 "LightGBM Documentation"
Want to work on this issue. Please assign to me
@geekquad @ashwani-rathee

[2021-04-16 05:09] ashwani-rathee commented on #142
@vinc3nati Go ahead

[2021-04-16 05:10] ashwani-rathee commented on #139
@Sibasish-Padhy sure, Go ahead

[2021-04-16 05:11] ashwani-rathee commented on #137
@mgncodes Sure,go ahead

[2021-04-16 05:12] ashwani-rathee commented on #114
@Dishita2602 Sure,go ahead

[2021-04-16 05:13] ashwani-rathee commented on #91
@guptaa98 Sure,go ahead

[2021-04-16 05:13] ashwani-rathee commented on #89
@aabhapingle Sure,go ahead

[2021-04-16 05:14] ashwani-rathee commented on #88
@utkarshxy Sure,go ahead

[2021-04-16 05:14] ashwani-rathee commented on #71
@surbhi2408 Sure,go ahead

[2021-04-16 05:15] ashwani-rathee commented on #69
@Charanjeev-2k2 Sure,go ahead

[2021-04-16 05:16] ashwani-rathee commented on #65
@aanchalsethi Sure,go ahead

[2021-04-16 05:16] ashwani-rathee commented on #47
@aishwaryachand Sure go ahead

[2021-04-16 05:17] ashwani-rathee commented on #46
@saumyasinghz Sure, go ahead

[2021-04-16 05:18] ashwani-rathee commented on #39
@ELITA04 Go ahead

[2021-04-16 06:30] pragyangra commented on #138
Can I contribute to this issue too?

[2021-04-16 10:10] aanchalsethi commented on #69
Sir i already have pulled the request for this document.

On Fri, Apr 16, 2021 at 10:45 AM Ashwani Rathee ***@***.***>
wrote:

[2021-04-16 10:48] ashwinraj-in commented on #27
I wish to implement the Naive Bayes algorithm for Classification include the mathematical and all the details behind it. Please Assign me the issue, Am a participant for GSSoC'21.

[2021-04-16 10:56] ashwinraj-in commented on #67
Hey @ashwani-rathee , Please assign me this issue. I will be adding the documentation and the complete code for this model. I have plenty of knowledge about this model and can submit a PR within 36 hours.

[2021-04-16 11:05] ashwinraj-in commented on #154
I would also like to contribute for this issue. Since @vinc3nati is planning to work on LDA and documentation for PCA is already available, I will like to work on the python implementation of PCA and/or complete documentation-implementation of GDA.

[2021-04-16 11:12] ashwinraj-in opened #158 "Stepwise Regression"
Hey, I am a GSSoC'21 participant and I will like to work on the documentation and implementation of Stepwise Regression. I have already described briefly about this technique in one of my earlier blogs here: https://towardsdatascience.com/the-family-of-unfamiliar-regression-algorithms-ae7eff9e9463

[2021-04-16 12:45] vinc3nati commented on #142
Hey @ashwani-rathee do I need to implement the code as well ?

[2021-04-17 17:13] Dishita2602 commented on #130
I would like to use this below methods for features selection . Feature selection is very important to improve overall accuracy of machine learning model. I would explain this methods in detail.
Filter methods (Information gain, Chi square test, Fisher's score, Correlation coeff, Variance threshold)

[2021-04-17 18:50] keshav2508 opened #163 "Q-Learning - Documentation"
I would like to add Q-learning - Reinforcement learning algorithm

[2021-04-17 22:37] saumyasinghz commented on #26
PR created. Please look into it.

[2021-04-18 05:01] Dishita2602 commented on #114
@ashwani-rathee in which folder do I need to upload my file ?

[2021-04-18 05:34] aabhapingle commented on #40
@ashwani-rathee could you please assign this issue to me. Thanks!

[2021-04-18 13:06] aanchalsethi commented on #65
There is no folder for the neural networks. Should I create one?

[2021-04-19 06:07] vinc3nati commented on #142
Hey @ashwani-rathee I have completed the code implementation of Gaussian Mixture Model as well so should I push it ? or the documentation is what expected ?

[2021-04-20 07:22] Sibasish-Padhy commented on #139
sir i have created a pull request for issue no #139.please do review it and suggest for changes. @ashwani-rathee

[2021-04-22 18:40] Dishita2602 opened #169 "Add XG Boost with hyperparameter tuning"
Initially use XG Boost later with help of gridsearchcv improve model accuracy.Please assign me.

[2021-04-23 16:54] nikitajangid33 opened #170 "FP Growth Documentation"
I would like to add FP Growth algorithm documentation.
I am a GSSOC'21 participant

[2021-04-24 06:50] Dishita2602 opened #171 "Add Random Forest with hyperparameter tuning"
Please assign me..

[2021-04-24 06:52] Dishita2602 opened #172 "Add Decision Tree Regressor"
I will write DTR from scratch.Please assign me

[2021-04-27 10:09] nidhivanjare opened #173 "Dimensionality Reduction"
I would like to add the scripts for dimensionality reduction techniques.

I am a GSSOC'21 Participant and would like to work on this issue!

[2021-05-01 12:38] vinc3nati opened #174 "Gaussian Mixture Model Code in python"
I would like to contribute code implementation of Gaussian Mixture Model in python under GSSOC21.

[2021-05-01 13:50] sameeksharl commented on #89
@ashwani-rathee @neha07kumari Hi , I am sameeksha, participant of GSSoC 21 . Could you pls assign this issue to me??

[2021-05-05 09:44] nidhivanjare commented on #173
@ashwani-rathee
can I work on this ?

[2021-05-05 12:38] d2Anubis commented on #47
Hi,

My name is Niharika. I am a participant of GSSoC'21.

I would like to take up this issue. I will try making the PR asap. I would like to make both classification and regression models using neural network implementation in PyTorch. Let me know if I can proceed. Any further suggestions on getting started would be really helpful.

[2021-05-05 18:24] #85 closed

[2021-05-06 06:16] Manasi2001 opened #176 "Add Code for Naïve Bayes Algorithm"
I would like to work on this under GSSoC'21. I will add the complete code from scratch. Please assign it to me.

[2021-05-06 06:41] Manasi2001 opened #177 "Add Code for SVM"
I would like to work on this under GSSoC'21. I will add the complete code from scratch. Please assign it to me.

[2021-05-06 16:26] Aparna-Sakshi opened #178 "Markov's Chain"
A Markov chain essentially consists of a set of transitions determined by some probability distribution that satisfies the Markov property.

I would like to implement Markov's chain from scratch with a detailed explanation. Please assign me this issue @ashwani-rathee .

[2021-05-07 07:55] #173 closed

[2021-05-08 16:01] ainy-123 opened #179 "Add Code for K-means."
I am GSSoC'21 participant and I want to work on this issue in python language.
Kindly assign this to me.

[2021-05-08 16:12] ainy-123 opened #180 "SVM -Documentation"
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me. @geekquad @ashwani-rathee

[2021-05-09 04:30] Dishita2602 opened #181 "Update Readme.md for GA"
I would like to work on this issue. please assign me

[2021-05-10 19:29] #39 closed

[2021-05-11 18:02] theanshulcode commented on #179
Please assign this to me.

[2021-05-12 17:06] sameeksharl commented on #121
heyy @geekquad @ashwani-rathee  i want to take up this issue could u pls assign it to me ?? I will be able to  finish the work by 2 -3 days??

[2021-05-15 04:16] #124 closed

[2021-05-16 08:17] #41 closed

[2021-05-16 08:20] ayush237 opened #182 "Multi Layer Perceptron Code implementation"
I am a GSSoC 21 participant (DISCORD username: smoky237 #5411), I can contribute to the  Multilayer perceptron with proper scratch implementation and Documentation.
Kindly assign this work to me @geekquad @ashwani-rathee
#GSSoc

[2021-05-16 09:37] sameeksharl commented on #180
I would like to work on this issue ?? could u pls assign me ?? @geekquad

[2021-05-16 13:54] Abheeshth commented on #121
Hello, I am a GSSOC'21 participant Can I work on this issue??
@ashwani-rathee

[2021-05-16 14:50] sameeksharl commented on #121
What kind of clustering can I work on ?? K means clustering??

On Sun, 16 May 2021, 7:24 pm ABHEESHTH MISHRA, ***@***.***>
wrote:

[2021-05-17 07:40] Ashishsingh619 opened #183 "I want to add Read me for genetic algorithm"
### I have good knowledge about the genetic algorithm and want to apply my knowledge into practice by adding readme for the same.
@geekquad Sir please assign me this issue

[2021-05-18 13:39] #177 closed

[2021-05-18 17:24] sameeksharl commented on #180
@ashwani-rathee @geekquad could you pls assign this to me??

[2021-05-19 07:49] geekquad commented on #129
Go ahead @aman503.

[2021-05-19 07:51] geekquad commented on #154
Sure, go ahead with LDA.

[2021-05-19 07:51] geekquad commented on #154
Go ahead with GDA.

[2021-05-19 07:52] #180 closed

[2021-05-19 07:54] #157 closed

[2021-05-19 07:55] geekquad commented on #181
Go ahead @Dishita2602.

[2021-05-19 07:55] #179 closed

[2021-05-19 07:57] geekquad commented on #178
Go ahead @Aparna-Sakshi.

[2021-05-19 07:58] geekquad commented on #170
Go ahead @nikitajangid33.

[2021-05-19 08:00] geekquad commented on #27
Assigning it to you @ashwinraj-in.

[2021-05-19 08:04] #142 closed

[2021-05-19 11:51] ashwinraj-in commented on #27
Thanks @geekquad . Starting right away. Will send a PR within 48 hrs.

[2021-05-19 14:49] sameeksharl commented on #121
@geekquad  Could you please tell me what types of partitional clustering is needed to be part of documentation as there are many types ??
can i include commonly used types such as k means, k-medoids, CLARA

[2021-05-20 10:05] aman503 commented on #129
Thank you for your response

On Wed, 19 May, 2021, 1:19 pm Aditya Kumar Gupta, ***@***.***>
wrote:

[2021-05-20 10:06] aman503 commented on #129
When do I have to submit?

On Thu, 20 May, 2021, 3:35 pm Aman Dahiya (RA1911027030054), <
***@***.***> wrote:

[2021-05-21 05:37] Manasi2001 commented on #137
Can I work on this @geekquad?

[2021-05-21 05:45] Manasi2001 commented on #67
Can I create make the README for XGBoost @ashwani-rathee @geekquad?

[2021-05-21 05:49] Manasi2001 opened #185 "README for 'Preprocessing' Folder"
I would like to work on this @geekquad. I'll give explanation about both, 'Min Max Scalar' and 'Standard Scalar'.

[2021-05-21 16:05] subhangi2731 commented on #139
@ashwani-rathee please assign  me this issue

[2021-05-21 16:06] subhangi2731 commented on #138
@ashwani-rathee i request u please assign me this issue

[2021-05-21 16:06] subhangi2731 commented on #114
@rakshakannu please assign me this issue I will send pr in 1 day

[2021-05-21 16:07] subhangi2731 commented on #131
@geekquad please assign me this issue I will send the pr in 1 day

[2021-05-22 21:51] RajSrinivasJena commented on #163
I Would Like to Work on it . Plz Assign it to me.

[2021-05-23 05:50] ashwani-rathee commented on #25
Merged

[2021-05-23 05:50] #25 closed

[2021-05-23 05:50] ashwani-rathee commented on #26
Merged

[2021-05-23 05:50] #26 closed

[2021-05-23 05:52] ashwani-rathee commented on #185
I don't think we would need that, @Manasi2001

[2021-05-23 05:52] #185 closed

[2021-05-23 05:54] ashwani-rathee commented on #29
Merged

[2021-05-23 05:54] #29 closed

[2021-05-23 05:54] ashwani-rathee commented on #33
Merged

[2021-05-23 05:54] #33 closed

[2021-05-23 05:57] ashwani-rathee commented on #71
Merged

[2021-05-23 05:57] #71 closed

[2021-05-23 05:57] ashwani-rathee commented on #70
Still work in progress

[2021-05-23 05:58] ashwani-rathee commented on #65
Merged

[2021-05-23 05:58] #65 closed

[2021-05-23 05:58] ashwani-rathee commented on #60
Merged

[2021-05-23 05:58] #60 closed

[2021-05-23 06:00] ashwani-rathee commented on #8
Merged

[2021-05-23 06:00] #8 closed

[2021-05-23 06:00] ashwani-rathee commented on #172
Duplicate

[2021-05-23 06:00] #172 closed

[2021-05-23 06:01] ashwani-rathee commented on #169
Duplicate #40

[2021-05-23 06:01] #169 closed

[2021-05-23 06:02] ashwani-rathee commented on #89
Merged

[2021-05-23 06:02] #89 closed

[2021-05-23 06:02] ashwani-rathee commented on #88
Duplicate

[2021-05-23 06:02] #88 closed

[2021-05-23 06:04] ashwani-rathee commented on #91
Merged

[2021-05-23 06:04] #91 closed

[2021-05-23 06:06] ashwani-rathee commented on #154
Addressed in #186

[2021-05-23 06:06] #154 closed

[2021-05-23 06:07] ashwani-rathee commented on #133
No response from the assignee

[2021-05-23 06:07] #133 closed

[2021-05-23 06:09] ashwani-rathee commented on #182
Duplicate #46

[2021-05-23 06:09] #182 closed

[2021-05-23 06:10] ashwani-rathee commented on #171
Duplicate, Random Forest added and merged in #128

[2021-05-23 06:10] #171 closed

[2021-05-23 06:11] ashwani-rathee commented on #176
Duplicate

[2021-05-23 06:11] #176 closed

[2021-05-23 06:31] Abheeshth commented on #137
can I work on this  issue @geekquad @ashwani-rathee

[2021-05-23 08:19] khanfarhan10 commented on #8
Is the algorithm implemented or will it not be worked upon?
@ashwani-rathee ??

[2021-05-23 08:34] yukti845 commented on #178
@Aparna-Sakshi We need some updates on this issue

[2021-05-23 08:43] Dishita2602 commented on #178
I can work if no work is done yet

[2021-05-23 09:26] Aparna-Sakshi commented on #178
I have already coded Markov's chain from scratch. Will provide a detailed explanation and submit a pr by today. I am extremely sorry for the delay.

[2021-05-23 13:38] LabiqaMasood commented on #138
Hi I am GSSOC participant .
I've quite knowledge about Multiple linear regression and would like to contribute the codebase for this! Kindly please assign me the issue @ashwani-rathee

[2021-05-23 14:01] Dishita2602 commented on #181
@yukti845 How can you close this issue before merging PR ?

[2021-05-23 14:05] yukti845 commented on #181
That was done by mistake.

[2021-05-23 14:12] Dishita2602 commented on #181
No worries

[2021-05-23 17:28] geekquad commented on #174
Go ahead @vinc3nati.

[2021-05-24 11:31] subhangi2731 commented on #40
@ashwani-rathee please assign me this issue

[2021-05-24 11:31] subhangi2731 commented on #46
@ashwani-rathee please assign me

[2021-05-24 11:32] subhangi2731 commented on #70
@ashwani-rathee please assign me this I want to work

[2021-05-24 11:34] subhangi2731 commented on #139
@ashwani-rathee ?? please assign

[2021-05-24 13:38] yukti845 commented on #47
@aishwaryachand Please provide some updates on this issue.
If you're not able to take up with it, please intimidate us sp we can pass this on to other participant.

[2021-05-25 05:54] geekquad commented on #137
Go ahead @Manasi2001.

[2021-05-25 13:08] Atul-Kashyap opened #191 "Pruning of neural network"
Pruning of neural network remove the less contributing node(means weight of node which has low weight than others node)  from the neural network. It increases the accuracy of neural network models.

[2021-05-25 13:46] yukti845 commented on #138
@mgncodes what are the updates on the issue? It's been quite long.

[2021-05-25 13:49] yukti845 commented on #131
@subhangi2731 go ahead.

[2021-05-25 13:50] yukti845 commented on #129
@aman503 It's a level-1 issue, should have been done in 2 days. Please make a PR asap

[2021-05-25 13:53] yukti845 commented on #69
@Charanjeev-2k2 what are the updates?

[2021-05-25 14:20] AkhileshThite commented on #131
Hey! My PR for this issue is already merged #145
you can make changes in that if you want to :)

[2021-05-25 14:26] yukti845 commented on #131
@AkhileshThite I didn't know that your PR is already merged.

[2021-05-25 14:26] #131 closed

[2021-05-25 14:34] AkhileshThite commented on #131
It's okay.

[2021-05-25 19:28] Charanjeev-2k2 commented on #69
On it
Had semester end exams in between. Will be putting up the pr before May 31st
Sorry for the delay

[2021-05-26 06:27] Manasi2001 commented on #129
@yukti845 can I work on README for this? I'll make PR the same day it gets assigned to me :)

[2021-05-26 06:36] Manasi2001 commented on #170
Can I work on this @geekquad @yukti845? There's been no work done towards making a PR for this issue. Kindly assign it to me.

[2021-05-26 06:40] Manasi2001 commented on #158
Can I make the README for this @yukti845?

[2021-05-26 06:42] Manasi2001 commented on #139
Can I work on README for this @ashwani-rathee @geekquad @yukti845?

[2021-05-26 06:50] Manasi2001 commented on #138
Can I go ahead with this @yukti845? I'll do the implementation as well as make the README for this. Please assign it to me :)

[2021-05-26 13:02] yukti845 commented on #138
Go ahead @Manasi2001

[2021-05-26 13:04] yukti845 commented on #170
@nikitajangid33 we need updates on this issue.

[2021-05-26 14:49] aman503 commented on #129
@yukti845 <https://github.com/yukti845>   Give me some time...Actually I'm
not well and will make a PR by 28th may. Sorry for inconvenience.

On Wed, May 26, 2021 at 11:57 AM Manasi Chhibber ***@***.***>
wrote:

[2021-05-27 13:25] yukti845 commented on #170
@Manasi2001 go with this issue

[2021-05-27 15:16] Manasi2001 commented on #121
Can I work on this @yukti845 @geekquad?

[2021-05-27 15:18] Manasi2001 commented on #69
Can I work on this @yukti845 @geekquad @ashwani-rathee?

[2021-05-27 16:07] sameeksharl commented on #121
No I am still working on it ,,will make pr by tomorrow  @geekquad

On Thu, 27 May 2021, 8:46 pm Manasi Chhibber, ***@***.***>
wrote:

[2021-05-28 11:07] geekquad commented on #183
Hey @Ashishsingh619, I guess it is already there.
Please check and reopen if it is not there.

[2021-05-28 11:07] #183 closed

[2021-05-28 11:08] #181 closed

[2021-05-28 11:08] geekquad commented on #178
Transferring this to @Dishita2602. Make a PR by 30th.

[2021-05-28 11:45] Manasi2001 opened #195 "Elastic Net Regression - Documentation"
I would like to work on this @geekquad @yukti845. Please assign it to me.

[2021-05-28 11:48] Manasi2001 opened #196 "Lowess Regression - Documentation"
Can I work on this @geekquad @yukti845?

[2021-05-28 12:21] Dishita2602 commented on #178
Do I need to make separate folder for Markov's chain ?

@geekquad

[2021-05-29 08:35] Dishita2602 opened #197 "Markov's Chain Documentation"
Please assign me @geekquad @yukti845

[2021-05-29 08:38] Dishita2602 commented on #129
I can work as no PR is done yet. I can submit PR today itself

[2021-05-29 08:42] Dishita2602 commented on #121
I can work and submit all PR today itself

[2021-05-29 10:34] geekquad commented on #196
Go ahead @Manasi2001.

[2021-05-29 10:35] geekquad commented on #197
Not needed right now.

[2021-05-29 10:35] #197 closed

[2021-05-29 10:35] geekquad commented on #195
Go ahead @Manasi2001.

[2021-05-29 10:36] geekquad commented on #191
Hey @Atul-Kashyap, are you a part of GSSOC'21?

[2021-05-29 10:37] geekquad commented on #178
Yes @Dishita2602.

[2021-05-29 10:37] geekquad commented on #197
Reopen when you have made the PR for the codebase.

[2021-05-29 10:38] geekquad commented on #69
Already there @Manasi2001.

[2021-05-29 10:38] #69 closed

[2021-05-29 10:38] Dishita2602 commented on #197
okayy

[2021-05-29 10:44] Atul-Kashyap commented on #191
Yes, I am participant of GSSOC'21.

[2021-05-29 16:40] Dishita2602 opened #201 "Markov's Chain Documentation"
I have added codebase related to Markov's Chain. Now I would like to add documentation related to it. @geekquad

[2021-05-30 12:46] prathimacode-hub opened #202 "Add Convolution Neural Network"
I would like to add a simple convolution neural network to classify CIFAR images using Keras.

Can you assign this issue to me under 'GSSOC 21' label? @geekquad

[2021-05-30 12:56] geekquad commented on #202
Hey @prathimacode-hub, please go through the project description.
We are looking for implementations of machine learning models and algorithms using nothing but NumPy with a focus on accessibility.

[2021-05-30 12:56] #202 closed

[2021-05-30 14:05] Manasi2001 commented on #129
@geekquad @ashwani-rathee please give me a heads up on this.

[2021-05-30 14:06] Manasi2001 commented on #121
@geekquad @ashwani-rathee please assign it to me so that I can start right away.

[2021-05-30 14:09] Manasi2001 commented on #163
Can I work on this @geekquad @ashwani-rathee @yukti845? I'll make the PR by today itself. Please assign it to me.

[2021-05-30 14:21] geekquad commented on #202
However, you can look out for more issues you can work on. We have quite a few of them left @prathimacode-hub.

[2021-05-30 14:30] prathimacode-hub commented on #202
I haven't notice that's it's purely on numpy. Yeah, I did checked them up. But I just came to know that today is the last day to submit the PR. @geekquad

[2021-05-30 14:38] geekquad commented on #202
It tomorrow till 11:59pm @prathimacode-hub.

[2021-05-30 14:40] geekquad commented on #46
Go ahead @subhangi2731.

[2021-05-30 14:43] geekquad commented on #47
No updates @aishwaryachand.

Hey @d2Anubis, please go through the project description.
We are looking for implementations of machine learning models and algorithms using nothing but NumPy with a focus on accessibility. Let me know if you want to proceed.

[2021-05-30 14:44] geekquad commented on #67
@surbhi2408 want to go ahead?

[2021-05-30 14:46] surbhi2408 commented on #67
Yes sure

[2021-05-30 14:50] geekquad commented on #40
Hey @aabhapingle, want to go ahead?

[2021-05-30 14:51] aabhapingle commented on #40
yes, sure!

[2021-05-30 14:57] geekquad commented on #114
Hey @subhangi2731, go ahead!

[2021-05-30 14:59] geekquad commented on #121
No updates @sameeksharl.
Transferring this to @Dishita2602,

[2021-05-30 15:01] prathimacode-hub commented on #202
Ok, thanks for the information. I will choose an issue to work on. @geekquad

[2021-05-30 15:29] Manasi2001 commented on #121
@geekquad why not assign it to me? I asked for it 3 days ago.

[2021-05-30 15:30] Dishita2602 commented on #121
Okay I will make PR today itself

[2021-05-30 16:11] geekquad commented on #121
Hey @Dishita2602, sorry but @Manasi2001 asked it before you and I missed it.
Please look if you can contribute to something else.

[2021-05-30 16:13] Dishita2602 commented on #121
Yeah I totally understand @Manasi2001 All the best ! Hope you make up to top 50

[2021-05-30 16:15] Dishita2602 commented on #121
@geekquad please assign me #201 I have made PR of codebase and tomorrow is last day of GSSoC'21 so asap

[2021-05-30 16:45] geekquad commented on #201
Go ahead @Dishita2602.

[2021-05-30 17:22] Manasi2001 opened #204 "Spectral Clustering - Base"
I would like to add the implementation code for 'Spectral Clustering'. Please assign it to me @geekquad.

[2021-05-31 13:08] geekquad commented on #204
Go ahead @Manasi2001.

[2021-05-31 14:58] anubhav201241 opened #210 "Digit_Recognizer_using_ANN"
Hi, I'm a Gssoc'21 participant and want to contribute to your project

I want to add digit_Recognizer using the Ann algorithm which predicts the digit

@geekquad Kindly assigned this issue to me

[2021-06-05 15:55] #178 closed

[2021-06-05 19:33] #201 closed

[2021-06-12 18:27] #210 closed

[2021-07-17 15:03] Abheeshth commented on #47
Can I work on this issue @geekquad @ashwani-rathee

[2021-07-18 11:18] geekquad commented on #47
Go ahead @Abheeshth.

[2021-07-23 19:08] Abheeshth commented on #47
I have submitted the pr 2 days ago, please review that. @geekquad

[2021-07-23 22:48] geekquad commented on #47
Hey @Abheeshth, it is already under review. Will revert soon :)

[2021-09-02 08:29] ashish-reddy-20-08 commented on #130
I would like to work on this issue.

[2021-10-05 22:52] soma2000-lang commented on #195
@geekquad @yukti845 can I be assigned this